@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800&subset=cyrillic");
@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-before: 0;
          padding-block-start: 0;
  -webkit-padding-after: 0;
          padding-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
}

body {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 14px;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 19px;
}

h1 {
  margin: 0;
  padding: 0;
}

h3 {
  margin-bottom: 22px;
}

.show-md, .show-sm {
  display: none;
}

/* КНОПКИ */
.btn {
  font-family: 'Open Sans';
  font-size: 14px;
  padding: 12px 40px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.btn-primary {
  background: #d7d7d7;
  border: 1px solid #d7d7d7;
  color: #000;
}

.btn-primary:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}

.btn-grey {
  background: #f2f0f1;
  border: 1px solid #f2f0f1;
  color: #000;
}

.btn-grey:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}

.btn-white {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
}

.btn-white:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}

.btn-black {
  background: #000;
  border: 1px solid #000;
  color: #fff;
}

.btn-black:hover {
  background: #d7d7d7;
  border-color: #000;
  color: #000;
}

.btn-lg {
  font-size: 18px;
  font-weight: 800;
  padding: 15px 75px;
}

input {
  font-family: 'Open Sans';
  font-weight: 300;
}

input:focus {
  outline: none;
}

textarea {
  font-family: 'Open Sans';
  font-weight: 300;
}

textarea:focus {
  outline: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  display: inline-block;
}

input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  border: 1px solid #d0d0d0;
  width: 12px;
  height: 13px;
  border-radius: 3px;
}

input[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 7px;
  background: #000;
  width: 6px;
  height: 7px;
  border-radius: 2px;
  display: none;
}

input[type="checkbox"]:checked + label:before {
  border: 1px solid #000;
}

input[type="checkbox"]:checked + label:after {
  display: block;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  padding-left: 23px;
  cursor: pointer;
}

input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  border: 1px solid #d0d0d0;
  width: 12px;
  height: 13px;
  border-radius: 3px;
}

input[type="radio"] + label:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 7px;
  background: #000;
  width: 6px;
  height: 7px;
  border-radius: 2px;
  display: none;
}

input[type="radio"]:checked + label:before {
  border: 1px solid #000;
}

input[type="radio"]:checked + label:after {
  display: block;
}

/* КНОПКА НАВЕРХ */
.to-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 11111;
  color: #fff;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
  background: #dadada;
  width: 40px;
  height: 40px;
  opacity: 0;
  visibility: hidden;
}

.to-top .icon {
  display: block;
  font-size: 20px;
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 16px;
  height: 12px;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -6px;
}

.to-top:hover {
  opacity: 1 !important;
}

.container {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

.col {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding-right: 15px;
  padding-left: 15px;
}

/* ЗАГОЛОВОК СЕКЦИИ */
.section-title {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  top: 50%;
  left: 2px;
  line-height: 18px;
  font-weight: 800;
  font-size: 18px;
}

.icon {
  line-height: 0;
  display: inline-block;
}

/* ШАРКА САЙТА */
.header {
  background: #fff;
  padding: 28px 0 8px;
}

.header .container {
  width: 1382px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39%;
          flex: 0 0 39%;
  max-width: 39%;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  padding-left: 17px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34%;
          flex: 0 0 34%;
  max-width: 34%;
  padding-right: 26px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__search-close {
  display: none;
  color: #d7d7d7;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header__search-close:hover {
  color: #000;
}

.header__likes {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7%;
          flex: 0 0 7%;
  max-width: 7%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 34px;
  padding-right: 20px;
  position: relative;
  top: -4px;
}

.header__likes a {
  color: #c8c8c8;
}

.header__likes a:hover {
  color: #000;
}

.header__mob {
  display: none !important;
}

.show-menu {
  font-size: 29px;
  margin-left: 5px;
  position: relative;
  top: 4px;
  color: #c8c8c8;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.show-menu:hover {
  color: #000;
}

/* МОБИЛЬНОЕ МЕНЮ */
.mobmenu {
  display: none;
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 123;
}

.mobmenu__top {
  background: #000;
  color: #fff;
  height: 45px;
  z-index: 1111;
  position: relative;
}

.mobmenu__top > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 45px;
}

.mobmenu__top > ul > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  text-align: center;
}

.mobmenu__top > ul > li > a {
  color: #fff;
  padding: 11px 0 12px;
  font-size: 16px;
  display: block;
  text-transform: lowercase;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.mobmenu__top > ul > li > a:hover {
  background: #d7d7d7;
  color: #000;
}

.mobmenu__top > ul > li > a.active {
  background: #d7d7d7;
  color: #000;
}

.mobmenu__close {
  position: absolute;
  right: 22px;
  top: 10px;
  font-size: 16px;
  cursor: pointer;
}

.mobmenu__sub {
  display: none;
  list-style: none;
}

.mobmenu__sub > li {
  padding: 15px 46px;
  font-size: 16px;
  border-bottom: 1px solid #f2f0f0;
  cursor: pointer;
}

.mobmenu__sub > li > a {
  position: relative;
  display: block;
  color: #9b9b9b;
}

.mobmenu__sub > li > a.active {
  font-weight: 700;
}

.mobmenu__sub > li > a > span {
  font-size: 10px;
  margin-left: 7px;
}

.mobmenu__sub > li:hover > a {
  color: #000;
  font-weight: 700;
}

.mobmenu__arrow {
  position: absolute;
  font-size: 8px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  right: 8px;
  top: 7px;
}

.mobmenu__other > ul {
  list-style: none;
}

.mobmenu__other > ul > li {
  padding: 15px 46px;
  font-size: 16px;
  border-bottom: 1px solid #f2f0f0;
}

.mobmenu__other > ul > li > a {
  color: #9b9b9b;
  display: block;
}

.mobmenu__other > ul > li:hover > a {
  color: #000;
  font-weight: 700;
}

.mobmenu__back {
  display: none;
  font-size: 16px;
  padding: 10px 50px;
  float: left;
  position: relative;
  cursor: pointer;
}

.mobmenu__back .icon {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 32px;
  top: 18px;
  font-size: 10px;
}

.mobmenu__dropdown {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 45px;
  left: 100%;
  -webkit-transition: 300ms;
  transition: 300ms;
  z-index: 123;
  overflow: auto;
}

.mobmenu__dropdown > ul {
  list-style: none;
}

.mobmenu__dropdown > ul > li {
  padding: 15px 46px;
  font-size: 16px;
  border-bottom: 1px solid #f2f0f0;
}

.mobmenu__dropdown > ul > li > a {
  color: #9b9b9b;
  display: block;
}

.mobmenu__dropdown > ul > li > a.active {
  font-weight: 700;
}

.mobmenu__dropdown > ul > li > a > span {
  font-size: 10px;
  margin-left: 7px;
}

.mobmenu__dropdown > ul > li:hover > a {
  color: #000;
  font-weight: 700;
}

.mobmenu.mobfilters .mobmenu__sub {
  display: block;
  margin-bottom: 40px;
}

/* МОБИЛЬНЫЕ ФИЛЬТРЫ */
.mobfilters__clear {
  font-size: 16px;
  padding: 10px 22px;
  cursor: pointer;
  float: left;
}

.mobfilter__search {
  padding: 20px 44px;
}

.mobfilter__search input {
  width: 100%;
  height: 41px;
  padding: 0 15px;
}

.mobfilter__options {
  padding: 12px 0;
  max-height: 543px;
  overflow: hidden;
}

.mobfilter__options ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #f2f0f0;
}

.mobfilter__options ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333%;
          flex: 0 0 33.3333333%;
  padding: 15px 0 15px 50px;
  border-bottom: 1px solid #f2f0f0;
  border-right: 1px solid #f2f0f0;
}

.mobfilter__price {
  margin-bottom: 30px;
  padding: 20px 50px;
}

.mobfilter__price input {
  width: 100%;
  height: 43px;
  border: 1px solid #d8d8d8;
  padding: 7px;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

.mobfilter__show {
  text-align: right;
  padding: 15px 50px;
  font-size: 13px;
  cursor: pointer;
  color: #9b9b9b;
}

.mobfilter__button {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.show-search {
  font-size: 33px;
  margin-left: 19px;
  position: relative;
  top: -2px;
  color: #c8c8c8;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.show-search:hover {
  color: #000;
}

/* ВЫБОР ГОРОДА */
.city-select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  max-width: 33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  margin-top: -7px;
  cursor: pointer;
}

.city-select__icon {
  font-size: 30px;
  margin-right: 5px;
}

.city-select__text {
  margin-top: 1px;
}

.city-select__dropdown {
  position: absolute;
  height: 218px;
  width: 160px;
  top: 7px;
  left: 18px;
  border: 1px solid #6b6b6b;
  padding: 7px 6px 7px 16px;
  background: #fff;
  color: #6b6b6b;
  z-index: 11;
  display: none;
  cursor: default;
}

.city-select__dropdown ul {
  list-style: none;
}

.city-select__dropdown ul > li {
  white-space: nowrap;
  margin-bottom: 13px;
  cursor: pointer;
}

.city-select__dropdown ul > li.active {
  color: #000;
  font-weight: 700;
}

.city-select__dropdown ul > li:hover {
  color: #000;
  font-weight: 700;
}

.city-select__dropdown .city-select__arrow {
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #6b6b6b;
  right: 11px;
  top: 9px;
}

.city-select__list {
  max-height: 100%;
}

.city-select__button {
  display: none;
}

.city-select__arrow {
  font-size: 10px;
  margin-left: 9px;
  position: relative;
  top: 4px;
}

.city-select__title {
  display: none;
}

.city-select.open .city-select__dropdown {
  background: #fff;
  opacity: 1;
  visibility: visible;
}

.city-select__close {
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
}

.city-select__title {
  background: #000;
  color: #fff;
  padding: 13px 25px;
}

/* КАСТОМНЫЙ СКРОЛЛ */
.mCSB_inside > .mCSB_container {
  padding-right: 42px;
  margin-right: 0;
}

.mCSB_scrollTools {
  margin-top: 32px;
  margin-bottom: 2px;
}

.mCSB_scrollTools {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
  width: 10px;
  border-color: #979797;
}

.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #9b9b9b;
  margin: 2px 5px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 67%;
          flex: 0 0 67%;
  max-width: 67%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -5px;
  padding-left: 2px;
}

.social-icons__item {
  line-height: 0;
  font-size: 41px;
  margin-right: 13px;
  color: #c8c8c8;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.social-icons__item:nth-child(5) {
  font-size: 44px;
}

.social-icons__item:hover {
  color: #000;
}

/* ФОРМА ПОИСКА */
.search-form {
  position: relative;
  border: 1px solid #c8c8c8;
  width: 260px;
  height: 40px;
  margin-top: -3px;
}

.search-form__input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 60px 0 20px;
}

.search-form__button {
  position: absolute;
  background: transparent;
  border: none;
  color: #d7d7d7;
  font-size: 40px;
  top: -1px;
  right: 10px;
  line-height: 0;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.search-form__button:hover {
  color: #000;
}

/* ГЛАВНОЕ МЕНЮ */
.menu {
  background: #000;
  font-size: 18px;
  text-transform: lowercase;
  letter-spacing: 1px;
  position: relative;
  z-index: 3;
}

.menu > .container {
  position: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list {
  list-style: none;
}

.menu__list > li {
  display: inline-block;
}

.menu__list > li > a {
  padding: 13px 31px;
  display: block;
  color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu__list > li > a:hover {
  background: #ccc;
}

.menu__list > li:hover .menu__dropdown {
  opacity: 1;
  visibility: visible;
}

.menu__list > li:hover > a {
  background: #ccc;
}

.menu__list .container {
  padding: 45px 60px 52px 126px;
  overflow: hidden;
}

.menu__dropdown {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.08);
}

.menu__dropdown-4 .menu__dropdown-item {
  padding-right: 35px;
}

.menu__dropdown-4 .menu__dropdown-item ul {
  padding-top: 100px;
  min-height: 403px;
}

.menu__dropdown-4 .menu__dropdown-title {
  padding-right: 30px;
}

.menu__dropdown-5 .menu__dropdown-item ul {
  text-transform: none;
  padding-top: 19px;
}

.menu__dropdown ul {
  list-style: none;
  position: relative;
  padding-top: 61px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__dropdown ul > li {
  margin-bottom: 14px;
}

.menu__dropdown ul > li > a {
  color: #000;
  font-size: 17px;
  font-weight: 400;
}

.menu__dropdown ul > li > a.active {
  font-weight: 800;
}

.menu__dropdown ul > li > a:hover {
  font-weight: 800;
}

.menu__dropdown-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.menu__dropdown-item.boys {
  display: none;
}

.menu__dropdown-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.menu__dropdown-title > a {
  color: #9b9b9b !important;
}

.menu__dropdown-all {
  margin-top: auto;
}

.menu__dropdown-all > a {
  color: #9b9b9b !important;
  font-size: 15px !important;
}

.menu__dropdown-switcher {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 14px;
}

.menu__dropdown-switcher span {
  cursor: pointer;
}

.menu__dropdown-switcher span.active {
  font-weight: 700;
  cursor: default;
}

.menu__dropdown-letters {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 14px;
}

.menu__dropdown-letters ul {
  display: block;
  padding-top: 0;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: -10px;
  margin-right: 15px;
}

.menu__dropdown-letters ul li {
  display: inline-block;
  margin-right: 15px;
}

.menu__dropdown-letters ul li a:hover {
  font-weight: 400;
}

.menu__count {
  display: none;
}

/* ВЕРХНИЙ БАННЕР */
.top-banner {
  background: url(../images/slider_bg.png) no-repeat;
  background-position: center top;
  background-size: auto 100%;
  height: 500px;
  color: #fff;
  margin-bottom: 36px;
  position: relative;
  z-index: 2;
}

.top-banner .section-title {
  margin-top: 105px;
}

.top-banner__content {
  position: relative;
  padding: 127px 0 0 98px;
}

.top-banner a {
  color: #fff;
}

.top-banner h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 70px;
}

.top-banner p {
  font-size: 26px;
  padding-left: 7px;
  margin-top: 40px;
  line-height: 30px;
}

.top-banner__heart {
  position: absolute;
  font-size: 570px;
  left: 290px;
  top: -15px;
  color: #f0dcdd;
}

/* ТОВАРЫ */
.products {
  background: #fff;
}

.products__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-right: 56px;
  padding-left: 84px;
  position: relative;
}

.products__news .section-title {
  margin-top: -32px;
}

.products__popular .section-title {
  margin-top: -18px;
}

.products.women .slider__arrow {
  color: #d0a3a6;
}

.products.women .slider__arrow:hover {
  color: #000;
}

.products.children .slider__arrow {
  color: #eec992;
}

.products.children .slider__arrow:hover {
  color: #eec992;
}

.products.men .slider__arrow {
  color: #9ac4c3;
}

.products.men .slider__arrow:hover {
  color: #000;
}

.products.cosm .slider__arrow {
  color: #bbc387;
}

.products.cosm .slider__arrow:hover {
  color: #000;
}

.products.on-inner {
  margin-top: 48px;
  padding-bottom: 93px;
}

.products.on-inner .products__slider {
  padding-right: 41px;
  padding-left: 100px;
}

.products.on-inner .section-title {
  margin-top: 65px;
  left: 4px;
  font-size: 16px;
}

.products.on-inner .slider__arrow {
  top: 185px;
}

.products.on-item {
  margin-top: 0;
  padding-bottom: 40px;
}

.products.on-cats {
  margin-top: 37px;
  padding-bottom: 37px;
}

.products.on-cats .section-title {
  margin-top: 59px;
  left: 19px;
  font-size: 18px;
}

.products__button {
  text-align: center;
  margin-top: 22px;
}

/* СЛАЙДЕР */
.slider__arrow {
  position: absolute;
  top: 110px;
  font-size: 20px;
  cursor: pointer;
  color: #d0a3a6;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.slider__arrow.next {
  right: -22px;
}

.slider__arrow.prev {
  left: -37px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0;
}

.slider__arrow:hover {
  color: #000;
}

.owl-dots {
  text-align: center;
  margin-top: 1px;
  padding-right: 52px;
}

.owl-dot {
  width: 6px;
  height: 7px;
  background: #c8c8c8 !important;
  margin: 0 3px;
  border-radius: 50%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.owl-dot:hover {
  background: #000 !important;
}

.owl-dot.active {
  background: #000 !important;
}

.owl-dot:focus {
  outline: none;
}

.owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-item {
  float: none !important;
}

.owl-item .product {
  height: 100%;
}

/* ТОВАР */
.product {
  padding: 18px;
  border: 1px solid transparent;
  -webkit-transition: 300ms;
  transition: 300ms;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.product__image {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product__image a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  text-align: center;
  line-height: 0;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__image img {
  display: inline-block;
  max-width: 100%;
  width: auto !important;
  max-height: 100%;
  height: auto;
}

.product__price {
  font-weight: 800;
  font-size: 16px;
  margin-top: 25px;
  padding-left: 1px;
}

.product__price .old-price {
  text-decoration: line-through;
  color: #898989;
}

.product__brand {
  margin-top: 21px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product__brand a {
  color: #000;
}

.product__desc {
  font-size: 10px;
  line-height: 11px;
  margin-top: 5px;
  color: #898989;
  height: 22px;
  position: relative;
  overflow: hidden;
}

.product__desc a {
  color: #898989;
}

.product__desc p {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin-bottom: 0;
}

.product__info {
  font-size: 10px;
  margin-top: 11px;
  color: #898989;
  line-height: 11px;
  height: 22px;
  opacity: 0;
  margin-bottom: 3px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.product__info span {
  color: #000;
}

.product__sizes {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-spacing: 2.5px;
}

.product__sizes span {
  margin-right: 1px;
}

.product__shop {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product__shop span {
  margin-right: 3px;
}

.product__like {
  position: absolute;
  right: 11px;
  top: 14px;
  font-size: 25px;
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #d7d7d7;
  cursor: pointer;
}

.product__like:hover {
  color: #000;
}

.product__like.active {
  color: #000 !important;
  opacity: 1;
}

.product__labels {
  position: absolute;
  left: 12px;
  top: 9px;
}

.product__labels > div {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}

.product__sale {
  font-weight: 600;
  line-height: 50px;
  background: #d7d7d7;
}

.product__new {
  font-weight: 600;
  line-height: 50px;
  font-size: 11px;
  background: #4a4a4a;
}

.product:hover {
  border-color: #d7d7d7;
}

.product:hover .product__info, .product:hover .product__like {
  opacity: 1;
}

.product__women .product__like {
  color: #d0a3a6;
}

.product__women .product__like:hover {
  color: #000;
}

.product__women .product__economy {
  background: #d0a3a6;
}

.product__women .product__sale {
  background: #d0a3a6;
}

.product__women:hover {
  border-color: #d0a3a6;
}

.product__children .product__like {
  color: #eec992;
}

.product__children .product__like:hover {
  color: #eec992;
}

.product__children .product__economy {
  background: #eec992;
}

.product__children .product__sale {
  background: #eec992;
}

.product__children:hover {
  border-color: #eec992;
}

.product__men .product__like {
  color: #9ac4c3;
}

.product__men .product__like:hover {
  color: #000;
}

.product__men .product__economy {
  background: #9ac4c3;
}

.product__men .product__sale {
  background: #9ac4c3;
}

.product__men:hover {
  border-color: #9ac4c3;
}

.product__cosm .product__like {
  color: #bbc387;
}

.product__cosm .product__like:hover {
  color: #000;
}

.product__cosm .product__economy {
  background: #bbc387;
}

.product__cosm .product__sale {
  background: #bbc387;
}

.product__cosm:hover {
  border-color: #bbc387;
}

/* СТРАНИЦА ТОВАРА */
.product-item .breadcrumbs {
  margin-left: 28px;
}

.product-item__content {
  padding: 18px 119px 14px 119px !important;
}

.product-item__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 340px;
          flex: 0 0 340px;
  max-width: 340px;
}

.product-item__image {
  position: relative;
  display: inline-block;
  width: 100%;
}

.product-item__image a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  vertical-align: middle;
}

.product-item__image img {
  max-width: 100%;
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
}

.product-item__like {
  position: absolute;
  right: 17px;
  top: 20px;
  font-size: 25px;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #d7d7d7;
  cursor: pointer;
}

.product-item__like:hover {
  color: #000;
}

.product-item__like.active {
  color: #000 !important;
}

.product-item__labels {
  position: absolute;
  left: 20px;
  top: 20px;
}

.product-item__labels > div {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}

.product-item__sale {
  font-weight: 600;
  line-height: 50px;
  background: #d7d7d7;
}

.product-item__new {
  font-weight: 600;
  line-height: 50px;
  font-size: 11px;
  background: #4a4a4a;
}

.product-item__thumbs {
  margin: 11px -12px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-item__thumbs img {
  max-width: 76px;
  max-height: 88px;
  margin: 0 12px 15px 0;
  cursor: pointer;
}

.product-item__thumbs img:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.product-item__thumbs img.active {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.product-item__desc {
  padding-right: 30px;
}

.product-item__desc .accordeon__body {
  overflow: hidden;
}

.product-item__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding-left: 40px;
}

.product-item__title {
  font-size: 30px;
  line-height: 30px;
  margin-top: 14px;
}

.product-item__title a {
  color: #000;
}

.product-item__cat {
  margin-top: 5px;
  color: #9b9b9b;
  display: inline-block;
}

.product-item__price {
  font-size: 20px;
  font-weight: 700;
  margin-top: 25px;
}

.product-item__price .old {
  color: #9b9b9b;
  text-decoration: line-through;
}

.product-item__links {
  margin-top: 19px;
  font-size: 12px;
}

.product-item__links a {
  color: #000;
  text-decoration: underline;
  display: block;
  margin-bottom: 5px;
}

.product-item__links a:hover {
  text-decoration: none;
}

.product-item__buy {
  margin-top: 33px;
}

.product-item__buy .btn {
  padding: 14px 38px;
  font-size: 18px;
  font-weight: 700;
}

.product-item__attrs {
  list-style: none;
  margin-top: 41px;
  margin-bottom: 42px;
}

.product-item__attrs li {
  margin-bottom: 2px;
}

.product-item__attrs li span {
  font-weight: 700;
}

.product-item__attrs li a {
  color: #000;
  text-decoration: underline;
}

.product-item__attrs li a:hover {
  text-decoration: none;
}

.product-item__chart {
  margin-left: -50px;
  margin-top: 27px;
}

.product-item__tags {
  margin-top: 44px;
}

.product-item__tags a {
  display: inline-block;
  color: #9b9b9b;
  border: 1px solid;
  padding: 3px 11px 6px;
  margin-right: 4px;
  margin-bottom: 10px;
}

.product-item__tags a:hover {
  color: #000;
}

.product-item__socials {
  position: absolute;
  top: 110px;
  right: 160px;
}

.product-item__socials a {
  display: block;
  margin-bottom: 10px;
  line-height: 0;
  font-size: 36px;
  margin-right: 0;
  color: #c8c8c8;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.product-item__socials a:hover {
  color: #000;
}

.product-item__shop {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  top: 287px;
  left: 22px;
  line-height: 18px;
  font-weight: 800;
  font-size: 16px;
  text-transform: lowercase;
  color: #000;
}

.product-item__women .product-item__like {
  color: #d0a3a6;
}

.product-item__women .product-item__like:hover {
  color: #000;
}

.product-item__women .product-item__sale {
  background: #d0a3a6;
}

.product-item__women:hover {
  border-color: #d0a3a6;
}

.product-item__children .product-item__like {
  color: #eec992;
}

.product-item__children .product-item__like:hover {
  color: #000;
}

.product-item__children .product-item__sale {
  background: #eec992;
}

.product-item__children:hover {
  border-color: #eec992;
}

.product-item__men .product-item__like {
  color: #9ac4c3;
}

.product-item__men .product-item__like:hover {
  color: #000;
}

.product-item__men .product-item__sale {
  background: #9ac4c3;
}

.product-item__men:hover {
  border-color: #9ac4c3;
}

.product-item__cosm .product-item__like {
  color: #bbc387;
}

.product-item__cosm .product-item__like:hover {
  color: #000;
}

.product-item__cosm .product-item__sale {
  background: #bbc387;
}

.product-item__cosm:hover {
  border-color: #bbc387;
}

.product-item .cashback {
  width: 100%;
  max-width: 328px;
  font-weight: 700;
  margin-top: 24px;
  border: 1px solid #000;
  color: #000;
  background-color: #f2f0f0;
}

.product-item .cashback__btn {
  position: relative;
  cursor: pointer;
  width: 100%;
  max-width: 326px;
  text-align: center;
  font-size: 18px;
  padding: 14px 38px;
}

.product-item .cashback__btn:hover {
  background-color: #bbbbbb;
}

.product-item .cashback__info {
  position: relative;
  overflow: hidden;
  height: 0;
  width: 100%;
  max-width: 328px;
  font-weight: 400;
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.product-item .cashback__info:hover {
  color: #000;
  border-color: #000;
}

.product-item .cashback__description {
  position: relative;
  padding: 10px 20px 54px 40px;
}

.product-item .cashback__description li {
  list-style-type: none;
  margin-bottom: 5px;
}

.product-item .cashback__description a, .product-item .cashback a:active {
  color: inherit;
  font-weight: 700;
  text-decoration: underline;
}

.product-item .cashback__description a:hover {
  text-decoration: none;
}

.product-item .cashback__extensions, .product-item .cashback__extensions:active, .product-item .cashback__extensions:hover {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 12px 8px;
  font-weight: 700;
  border-top: 1px solid #000;
  color: #fff;
  background: #000;
}

.product-item .cashback__extensions:hover {
  background-color: #bbbbbb;
  color: #000;
}

.product-item .cashback__arrow {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 10px;
  height: 10px;
  z-index: 1;
  opacity: 0.3;
  cursor: pointer;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.product-item .cashback__arrow:hover {
  opacity: 1;
}

.product-item .cashback_is-open .cashback__info {
  opacity: 1;
  height: 280px;
}

.product-item .cashback_is-open .cashback__arrow {
  top: 25px;
  transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

.accordeon {
  margin-bottom: 12px;
}

.accordeon__title {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  padding-left: 19px;
  cursor: pointer;
}

.accordeon__title .icon {
  position: absolute;
  left: 0px;
  top: 8px;
  font-size: 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
  line-height: 0;
  height: 7px;
  width: 8px;
  text-align: center;
}

.accordeon__title .icon.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordeon__body {
  margin: 9px 0 13px;
  display: none;
  line-height: 21px;
  color: #9b9b9b;
  position: relative;
}

.accordeon__body a {
  color: #000;
  text-decoration: underline;
}

.accordeon__body a:hover {
  text-decoration: none;
}

.accordeon.open .accordeon__body {
  display: block;
}

.dots {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 45px;
  background: #fff;
  padding-left: 2px;
  cursor: pointer;
}

.google-visualization-tooltip {
  width: 60px;
  margin-left: -53px;
  margin-top: 8px;
  background: #d8d8d8 !important;
  border: none !important;
  border-radius: 0 !important;
  text-align: center;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.google-visualization-tooltip:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(216, 216, 216, 0);
  border-top-color: #d8d8d8;
  border-width: 8px;
  margin-left: -8px;
}

.google-visualization-tooltip-item {
  margin: 0 !important;
  padding: 0 !important;
}

.google-visualization-tooltip-item:first-child {
  display: none;
}

.google-visualization-tooltip-item span {
  font-weight: 400 !important;
}

.google-visualization-tooltip-item span:first-child {
  display: none;
}

.google-visualization-tooltip-item-list {
  margin: 2px 0 !important;
  padding: 0 !important;
}

/* БАННЕР */
.banner {
  margin-bottom: 36px;
  height: 500px;
  margin-top: 34px;
  color: #fff;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner.men {
  background-image: url("../images/men_bg.png");
}

.banner.cosm {
  margin-top: 0;
  margin-bottom: 38px;
  background-image: url("../images/cosm_bg.png");
}

.banner .container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner a {
  color: #fff;
}

.banner__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52%;
          flex: 0 0 52%;
  max-width: 52%;
  padding: 137px 0 0 12px;
}

.banner__link {
  font-size: 18px;
  font-weight: 700;
}

.banner__link a {
  text-decoration: underline;
}

.banner__link a:hover {
  text-decoration: none;
}

.banner__title {
  margin-top: 28px;
}

.banner__title h2 {
  font-size: 75px;
  letter-spacing: -0.4px;
}

.banner__menu {
  font-size: 20px;
  margin-top: 48px;
}

.banner__menu ul {
  list-style: none;
}

.banner__menu ul li {
  display: inline-block;
  margin-right: 21px;
  margin-bottom: 5px;
  font-weight: 400;
}

.banner__menu ul li:last-child {
  margin-left: 33px;
  position: relative;
  top: 5px;
}

.banner__menu ul li a {
  color: #fff;
}

/* БЛОГ */
.blog {
  margin-top: 35px;
  padding-top: 52px;
  padding-bottom: 55px;
  background: #F2F0F0;
}

.blog .section-title {
  margin-top: 22px;
}

.blog__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-right: 100px;
  padding-left: 99px;
  position: relative;
}

.blog__slider .slider__arrow {
  top: 200px;
}

.blog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-item {
  position: relative;
  background: #fff;
}

.blog-item__image a {
  display: block;
  text-align: center;
  line-height: 0;
}

.blog-item__image img {
  width: 100%;
}

.blog-item__category {
  font-size: 13px;
  padding: 0 20px;
  margin-top: 16px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.blog-item__category a {
  color: #000;
}

.blog-item__title {
  padding: 0 20px;
  margin-top: 18px;
  line-height: 30px;
}

.blog-item__title h3 {
  font-size: 30px;
  margin-bottom: 0;
}

.blog-item__title a {
  color: #000;
}

.blog-item__date {
  color: #6c6c6c;
  padding: 0 20px;
  margin-top: 15px;
  font-size: 12px;
}

.blog-item__likes {
  position: absolute;
  bottom: 17px;
  right: 16px;
  text-align: right;
  color: #f0dcdd;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  z-index: 1;
}

.blog-item__likes:hover {
  color: #000;
}

.blog-item__likes.active {
  color: #000;
}

.blog-item__likes span {
  font-size: 10px;
  margin-right: 2px;
  position: relative;
  top: -10px;
}

.blog-item__likes i {
  font-size: 29px;
}

.blog-item__info {
  padding-bottom: 56px;
  overflow: hidden;
  position: relative;
}

.blog-item__desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f0dcdd;
  padding: 49px 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.blog-item.col {
  padding: 0;
  margin: 0 1.16% 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
}

.blog-item:hover .blog-item__desc {
  opacity: 1;
  visibility: visible;
}

.blog-item:hover .blog-item__likes {
  color: #fff;
}

.blog-item:hover .blog-item__likes:hover {
  color: #000;
}

.blog-item:hover .blog-item__likes.active {
  color: #000;
}

.blog__button {
  margin-top: 30px;
  text-align: center;
  display: none;
}

.blog__button a {
  width: 31%;
  padding: 15px 0;
}

.blog__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.blog-bar {
  background: #fff;
}

.blog-bar .container {
  padding: 9px 107px 30px 100px !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

.blog-bar__cats {
  text-transform: lowercase;
}

.blog-bar__cats ul {
  list-style: none;
}

.blog-bar__cats ul li {
  cursor: pointer;
  display: inline-block;
  margin-right: 61px;
}

.blog-bar__cats ul li.active {
  font-weight: 700;
}

.blog-bar__cats ul li a {
  color: #000;
}

.blog-bar__show-cats {
  display: none;
  cursor: pointer;
}

.blog-bar__show-tags {
  cursor: pointer;
}

.blog-bar__arrow {
  font-size: 10px;
  position: relative;
  top: 1px;
  margin-left: 25px;
}

.blog-cats__title {
  display: none;
}

.blog-cats__button {
  display: none;
}

.blog-tags {
  position: fixed;
  background: #fff;
  width: 1020px;
  max-width: 100%;
  height: 700px;
  left: 50%;
  margin-left: -511px;
  top: 50px;
  z-index: 201;
  max-height: calc(100% - 50px);
  display: none;
  padding: 0 0 15px 0;
}

.blog-tags__close {
  position: absolute;
  font-size: 30px;
  right: 20px;
  top: 34px;
  color: #9b9b9b;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

.blog-tags__close:hover {
  color: #000;
}

.blog-tags__title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-top: 13px;
}

.blog-tags__mobtitle {
  display: none;
}

.blog-tags__container {
  font-size: 15px;
  padding: 40px 58px 0;
  height: 482px;
}

.blog-tags__container ul {
  list-style: none;
  padding-left: 1px;
}

.blog-tags__container ul li {
  margin-bottom: 6px;
}

.blog-tags__container ul li.blog-tags__letter {
  font-weight: 700;
}

.blog-tags__container ul li a {
  color: #9b9b9b;
}

.blog-tags__container ul li a:hover {
  color: #000;
}

.blog-tags__arrows {
  padding: 40px 0 25px;
  text-align: center;
}

.blog-tags__arrow {
  cursor: pointer;
  color: #9b9b9b;
  margin: 0 10px;
  font-size: 20px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.blog-tags__arrow:hover {
  color: #000;
}

.blog-tags__arrow.prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.blog-tags .mCSB_inside > .mCSB_container {
  padding-right: 0;
  margin-right: 0;
  padding-top: 70px;
}

.blog-tags .mCSB_scrollTools {
  top: 70px;
  right: 29px;
}

.blog-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 88px;
}

.blog.on-inner {
  padding-top: 54px;
  padding-bottom: 36px;
  margin-top: 0;
}

.blog.on-inner .container {
  padding-right: 88px;
  padding-left: 88px;
}

.blog.on-inner .section-title {
  margin-top: -18px;
  left: 8px;
}

.blog.on-inner .blog__button {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-top: 3px;
}

.blog.on-inner.on-error {
  margin-top: 29px;
  padding-bottom: 80px;
}

.blog.on-article {
  margin-top: 0;
  padding-bottom: 68px;
}

.blog.blog-page {
  padding-top: 0;
  padding-bottom: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog.blog-page > div:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.blog.blog-page > div:nth-child(2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.blog.blog-page > div:nth-child(3) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.blog.blog-page .breadcrumbs {
  margin-top: 28px;
  margin-left: 12px;
  margin-bottom: 25px;
}

/* СТАТЬЯ */
.article {
  padding: 0 0 0 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article .breadcrumbs {
  margin-left: 5px;
  margin-top: -1px;
}

.article > div:nth-child(1) {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.article > div:nth-child(2) {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.article__content {
  padding: 43px 290px 25px 300px !important;
}

.article__content h1 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}

.article__content h3 {
  font-weight: 700;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.article__content p {
  font-size: 16px;
  margin-bottom: 22px;
}

.article__content p a {
  color: #6c6c6c;
  text-decoration: underline;
}

.article__content p a:hover {
  text-decoration: none;
  color: #000;
}

.article__left {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  left: -19px;
  line-height: 17px;
  font-weight: 800;
  font-size: 17px;
  text-transform: lowercase;
}

.article__left span {
  font-weight: 300;
  margin-left: 5px;
}

.article__cat {
  top: 127px;
}

.article__author {
  top: 918px;
}

.article__date {
  font-size: 16px;
  font-weight: 400;
  color: #9b9b9b;
  margin-bottom: 29px !important;
}

.article__toptags {
  position: absolute;
  width: 150px;
  left: 950px;
  top: 173px;
  line-height: 22px;
  margin-left: 20px;
  font-size: 16px;
  color: #9b9b9b;
  font-weight: 400;
}

.article__toptags a {
  color: #9b9b9b;
  text-decoration: underline;
}

.article__toptags a:hover {
  text-decoration: none;
}

.article__image {
  margin: 44px auto 59px;
  line-height: 0;
  position: relative;
}

.article__image img {
  max-width: 100%;
}

.article__image-desc {
  position: absolute;
  width: 180px;
  left: 100%;
  line-height: 22px;
  margin-left: 20px;
  font-style: italic;
  font-size: 16px;
  color: #9b9b9b;
}

.article__image-desc.bottom {
  bottom: 69px;
}

.article__image-desc.top {
  top: 0px;
}

.article__image-desc.in-center {
  left: calc(100% + 20px);
}

.article__image.main {
  margin: 0 auto 24px;
}

.article__image.two {
  margin: 22px 0 61px;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.article__image.two img {
  display: block;
}

.article__image-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__desc {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px !important;
}

.article__insta {
  margin: 36px auto 85px;
  line-height: 0;
  position: relative;
  width: 487px;
}

.article__insta iframe {
  margin-bottom: 0 !important;
  min-width: 250px !important;
}

.article__insta-desc {
  position: absolute;
  width: 180px;
  left: calc(100% + 10px);
  line-height: 22px;
  margin-left: 20px;
  font-style: italic;
  font-size: 16px;
  color: #9b9b9b;
}

.article__insta-desc.bottom {
  bottom: 69px;
}

.article__insta-desc.top {
  top: 90px;
}

.article__insta-desc.in-center {
  left: calc(100% + 20px);
}

.article__video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  margin: 45px auto 55px;
}

.article__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article__tags {
  margin-bottom: 45px;
}

.article__tags a {
  display: inline-block;
  color: #9b9b9b;
  border: 1px solid;
  padding: 3px 11px 6px;
  margin-right: 4px;
  margin-bottom: 10px;
}

.article__tags a:hover {
  color: #000;
}

.article__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 50px;
}

.article__socials a {
  line-height: 0;
  font-size: 36px;
  margin-right: 0;
  color: #c8c8c8;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.article__socials a:hover {
  color: #000;
}

.article__numcomment {
  display: inline-block;
  color: #d7d7d7;
  font-size: 11px;
  margin-right: 28px;
  margin-top: -4px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.article__numcomment:hover {
  color: #000;
}

.article__numcomment span {
  position: relative;
  top: -18px;
  margin-left: 5px;
}

.article__numcomment .icon {
  font-size: 39px;
}

.article__likes {
  display: inline-block;
  color: #d7d7d7;
  font-size: 11px;
  margin-right: -3px;
  position: relative;
  top: -5px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.article__likes:hover {
  color: #000;
}

.article__likes.active {
  color: #000;
}

.article__likes span {
  position: relative;
  top: -13px;
  margin-left: 3px;
}

.article__likes .icon {
  font-size: 30px;
}

/* КОММЕНТЫ */
.comments {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.comments-form {
  margin-bottom: 14px;
}

.comments-form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments-form__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  max-width: 100px;
  height: 100px;
  width: 100px;
  position: relative;
  margin-right: 15px;
}

.comments-form__photo input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.comments-form__photo input + label {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/no_avatar.jpg");
  cursor: pointer;
}

.comments-form__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  background: #f2f0f1;
  border: none;
  font-family: 'Open Sans';
  padding: 19px;
  height: 100px;
}

.comments-form__button {
  text-align: right;
}

.comments-form__button .btn {
  font-size: 13px;
  padding: 10px 32px;
  margin-top: 8px;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.comment__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  max-width: 100px;
  height: 100px;
  position: relative;
  margin-right: 15px;
  background: url("../images/no_avatar.jpg");
}

.comment__body {
  border: 1px solid;
  padding: 34px 18px 20px 42px;
}

.comment__date {
  font-size: 10px;
  margin-bottom: 17px;
  color: #d7d7d7;
}

.comment__name {
  font-weight: 700;
  margin-bottom: 19px;
}

.comment__button {
  text-align: right;
}

.comment__button .btn {
  font-size: 13px;
  margin-top: 20px;
  padding: 8px 13px;
}

.comment.answer {
  padding-left: 83px;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  display: none;
}

/* БРЕНДЫ */
.brands {
  background: #d7d7d7;
  margin-top: 35px;
  padding: 78px 0;
}

.brands .section-title {
  margin-top: 33px;
}

.brands__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-right: 62px;
  padding-left: 84px;
  position: relative;
}

.brands__slider .slider__arrow {
  top: 12px;
  color: #fff;
}

.brands__slider .slider__arrow:hover {
  color: #000;
}

.brand {
  text-align: center;
  line-height: 0;
}

.brand a {
  display: inline-block;
}

.brand img {
  width: auto !important;
  display: inline-block !important;
  max-width: 96px;
}

/* МАГАЗИНЫ */
.shops {
  background: #fff;
  padding: 79px 0;
}

.shops .section-title {
  margin-top: 49px;
}

.shops__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-right: 62px;
  padding-left: 84px;
  position: relative;
}

.shops__slider .slider__arrow {
  top: 12px;
  color: #9b9b9b;
}

.shops__slider .slider__arrow:hover {
  color: #000;
}

.shop {
  text-align: center;
  line-height: 0;
}

.shop a {
  display: inline-block;
}

.shop img {
  width: auto !important;
  display: inline-block !important;
  max-width: 96px;
}

/* ФУТЕР */
.footer {
  height: 525px;
  padding-top: 45px;
  margin-top: -45px;
  overflow: hidden;
  color: #fff;
}

.footer__wrapper {
  height: 100%;
  padding: 55px 0;
  background: #000;
}

.footer a {
  color: #fff;
}

.footer .container:nth-child(1) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .container:nth-child(2) {
  padding-left: 200px;
}

.footer .container:nth-child(3) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 31px;
  position: relative;
}

.footer__logo svg {
  fill: #fff;
}

.footer .social-icons {
  display: none;
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 51px;
  padding-left: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.footer .social-icons__item {
  color: #fff;
}

.footer .social-icons__item:hover {
  color: #fff;
}

.footer__menu {
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.footer__menu:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 216px;
          flex: 0 0 216px;
}

.footer__menu:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}

.footer__menu:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 158px;
          flex: 0 0 158px;
}

.footer__menu:nth-child(4) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 149px;
          flex: 0 0 149px;
}

.footer__menu h3 {
  margin-bottom: 0;
}

.footer__menu ul {
  margin-top: 30px;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
}

.footer__menu ul li {
  margin-bottom: 4px;
}

.footer__menu ul li a {
  color: #fff;
}

.footer__copy {
  margin-top: 35px;
  letter-spacing: 0.3px;
}

.footer__heart {
  position: absolute;
  font-size: 570px;
  height: 525px;
  overflow: hidden;
  right: 50px;
  top: -100px;
  color: #2d2d2b;
}

.page {
  padding-bottom: 31px;
  padding-top: 29px;
  margin-top: 0 !important;
}

.page .container {
  padding: 0 91px;
}

.page__title {
  padding: 0 119px !important;
  margin-top: 25px;
}

.page__title h1 {
  font-size: 30px;
}

.brands-page {
  padding-bottom: 25px;
}

.brands-page .breadcrumbs {
  margin-left: 29px;
}

.brands-page__letters {
  padding: 43px 119px !important;
  font-size: 18px;
  font-weight: 600;
}

.brands-page__letters ul {
  list-style: none;
}

.brands-page__letters ul li {
  display: inline-block;
  margin-right: 16px;
  cursor: pointer;
}

.brands-page__letters ul li.rus-letters {
  margin-left: 35px;
  letter-spacing: 1.5px;
}

.brands-page__letters ul li.other-letters {
  margin-left: 37px;
  margin-right: 0;
}

.brands-page__search {
  display: none;
}

.brands-content {
  padding: 18px 105px !important;
}

.brands-content__letter {
  padding: 18px 105px 70px !important;
}

.brands-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.brands-item__title {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}

.brands-item__list ul {
  list-style: none;
  list-style-position: inside;
  -webkit-column-count: 4;
  column-count: 4;
  overflow: hidden;
}

.brands-item__list ul li {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.2px;
  padding-right: 40px;
}

.brands-item__list ul li a {
  color: #868686;
}

.brands-item__list ul li a span {
  font-size: 10px;
  line-height: 10px;
  margin-left: 7px;
  color: #c3c3c3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 300ms;
  transition: 300ms;
  white-space: nowrap;
}

.brands-item__list ul li a:hover {
  color: #000;
}

.brands-item__list ul li a:hover span {
  color: #000;
}

.brands-item__button {
  text-align: center;
  margin: 43px 0 27px;
}

.brands-item__button .btn {
  font-weight: 700;
  padding: 15px 0;
  min-width: 260px;
}

.brands-item:hover ul li a span {
  visibility: visible;
  opacity: 1;
}

.offers-page .breadcrumbs {
  margin-left: 28px;
}

.offers-content {
  padding: 38px 99px 0 !important;
}

.offers-content .section-title {
  top: 236px;
  left: 13px;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 45px;
  border: 1px solid #ccc;
}

.offer__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 451px;
          flex: 0 0 451px;
  max-width: 451px;
}

.offer__image img {
  max-width: 100%;
}

.offer__image a {
  line-height: 0;
  display: block;
}

.offer__info {
  border-left: none;
}

.offer__shop {
  margin: 35px 48px 0;
  font-weight: 600;
  color: #000;
  display: block;
  font-size: 18px;
  min-height: 24px;
}

.offer__title {
  margin: 23px 48px 0;
  font-size: 50px;
  font-weight: 900;
}

.offer__title a {
  color: #000;
}

.offer__desc {
  padding: 13px 48px;
  font-size: 16px;
}

.offer__desc a {
  color: #000;
}

.offer__bottom {
  padding: 33px 40px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__timer {
  color: #9b9b9b;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.1px;
  margin-bottom: 0;
}

.offer__link {
  color: #9b9b9b;
  font-size: 16px;
  margin-top: 4px;
}

.offer__link .icon {
  font-size: 12px;
  margin-left: 15px;
}

.offer__link:hover {
  color: #000;
}

.shops-content {
  margin-top: 38px;
  padding-bottom: 37px !important;
}

.shops-item {
  height: 80px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66666%;
          flex: 0 0 16.66666%;
  padding: 0 8px;
  margin-bottom: 14px;
}

.shops-item a {
  display: block;
  line-height: 0;
}

.shops-item img {
  max-width: 100%;
}

.products-content {
  padding: 20px 41px 0 100px !important;
}

.products-content .product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.products-content .products__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.products.marks-page .section-title {
  margin-top: 0 !important;
  left: 14px !important;
  top: 271px;
}

.marks-page .breadcrumbs {
  margin-left: 28px;
}

.marks-page .page__title {
  margin-top: 13px;
}

.breadcrumbs {
  list-style: none;
  font-size: 13px;
  margin-left: 9px;
}

.breadcrumbs li {
  font-weight: 700;
  text-transform: lowercase;
  margin: 0 10px 0 0;
  position: relative;
  color: #9b9b9b;
  display: inline;
}

.breadcrumbs li:last-child a {
  font-weight: 700;
}

.breadcrumbs li:last-child a:after {
  display: none;
}

.breadcrumbs li a {
  color: #9b9b9b;
  font-weight: 300;
  text-transform: none;
}

.breadcrumbs li a:hover {
  color: #000;
}

.breadcrumbs li a:after {
  position: absolute;
  content: '/';
  right: -10px;
}

.content {
  padding: 43px 100px 0 !important;
  color: #9b9b9b;
  background: #fff;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content h7 {
  color: #000;
}

.content a {
  color: #000;
  text-decoration: underline;
}

.content a:hover {
  text-decoration: none;
}

.content:before {
  position: relative;
  content: '';
  top: -43px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  height: 2px;
  background: #d7d7d7;
}

/* КАТАЛОГ */
.cat .breadcrumbs {
  margin-left: 29px;
}

.cat__content {
  padding: 0 11px 0 18px !important;
}

.cat-left {
  padding-top: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.cat__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding: 20px 0 0 20px;
}

.cat__text h2 {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 22px;
}

.cat__text p {
  color: #898989;
}

.cat__text a {
  color: #000;
  text-decoration: underline;
}

.cat__text a:hover {
  text-decoration: none;
}

.cat__text.bottom {
  margin-top: 39px;
  padding-top: 32px;
  padding-bottom: 14px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.cat__text.bottom h2 {
  font-size: 14px;
  margin-bottom: 19px;
}

.cat__text-images {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 23px;
}

.cat__text-images img {
  margin: 0 5px;
}

.cat__tags {
  margin-top: 44px;
  overflow: hidden;
  max-height: 80px;
  position: relative;
  -webkit-transition: max-height 300ms;
  transition: max-height 300ms;
}

.cat__tags ul {
  list-style: none;
}

.cat__tags ul li {
  display: inline-block;
}

.cat__tags ul li a {
  display: inline-block;
  text-transform: lowercase;
  border: 1px solid;
  padding: 4px 9px 5px 9px;
  font-weight: 400;
  margin-right: 6px;
  margin-bottom: 10px;
  color: #979797;
}

.cat__tags ul li a:hover {
  color: #fff;
  background: #000;
  border-color: #000;
}

.cat__tags ul li a.active {
  color: #fff;
  background: #000;
  border-color: #000;
}

.cat__tags-show {
  position: absolute;
  height: 31px;
  width: 200px;
  padding: 6px 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), color-stop(5%), to(#fff));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), 5%, #fff);
  right: 0;
  bottom: 10px;
  text-align: right;
  font-weight: 700;
  color: #979797;
  cursor: pointer;
}

.cat__tags-show .icon {
  position: relative;
  top: 5px;
  margin-left: 5px;
}

.cat__tags-show.hide .icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 1px;
}

.cat__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  border-bottom: 1px solid #979797;
  padding-bottom: 16px;
}

.cat__title h1 {
  font-size: 22px;
  font-weight: 900;
  margin-right: 24px;
  margin-bottom: -7px;
}

.cat__title h1 span {
  color: #9b9b9b;
  font-weight: 300;
  position: relative;
  font-size: 16px;
  padding-left: 16px;
}

.cat__title h1 span:after {
  content: '/';
  position: absolute;
  left: 6px;
  top: 0;
}

.cat__title ul {
  list-style: none;
  font-style: italic;
  margin-top: 9px;
  margin-bottom: -5px;
  font-weight: 400;
}

.cat__title ul li {
  position: absolute;
  opacity: 0;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.cat__title ul li:nth-child(1) {
  position: relative;
  opacity: 1;
}

.cat__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -3px;
  margin-right: -7px;
  margin-top: 30px;
}

.cat__products .product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24.077%;
          flex: 0 0 24.077%;
  max-width: 24.077%;
  padding: 0 0 15px;
  margin: 0 0.4615% 9px;
}

.cat__products .product__image {
  position: relative;
}

.cat__products .product__image img {
  display: none;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}

.cat__products .product__image img.active.pc {
  display: inline-block;
}

.cat__products .product__image img.active.mob {
  display: none;
}

.cat__products .product__economy {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  padding: 8px 0;
  opacity: 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.cat__products .product__like {
  right: 16px;
  top: 20px;
  z-index: 1;
}

.cat__products .product__labels {
  left: 10px;
  top: 10px;
  z-index: 1;
}

.cat__products .product__price {
  margin-top: 9px;
  padding-left: 22px;
  padding-right: 22px;
}

.cat__products .product__brand {
  margin-top: 1px;
  padding-left: 22px;
  padding-right: 22px;
}

.cat__products .product__desc {
  margin-left: 22px;
  margin-right: 22px;
}

.cat__products .product__info {
  margin-left: 22px;
  margin-right: 22px;
}

.cat__products .product:hover .product__economy {
  opacity: 1;
}

.cat.women .cat__title ul {
  color: #d0a3a6;
}

.cat.women .cat__count {
  color: #d0a3a6;
}

.cat.men .cat__title ul {
  color: #9ac4c3;
}

.cat.men .cat__count {
  color: #9ac4c3;
}

.cat.cosm .cat__title ul {
  color: #bbc387;
}

.cat.cosm .cat__count {
  color: #bbc387;
}

.cat.children .cat__title ul {
  color: #eec992;
}

.cat.children .cat__count {
  color: #eec992;
}

.cat__count {
  font-style: italic;
  font-weight: 400;
  text-align: center;
  margin-top: -9px;
}

.cat__related {
  margin-top: 31px;
  margin-right: -12px;
}

.cat__related h3 {
  font-size: 20px;
  font-weight: 900;
  width: 100%;
  margin-bottom: 37px;
}

.cat__related a {
  color: #000;
  display: block;
  float: left;
  -webkit-transition: max-width 300ms;
  transition: max-width 300ms;
  max-width: 114px;
  min-width: 114px;
  font-weight: 700;
  padding: 11px 16px 0;
  height: 68px;
  line-height: 16px;
  margin-bottom: 11px;
  margin-right: 11.2px;
  background: #f2f0f1;
}

.cat__related a .cat__related-title {
  max-width: 82px;
  display: block;
  overflow: hidden;
}

.cat__related a .cat__related-title.long {
  position: relative;
}

.cat__related a .cat__related-title.long:after {
  content: '...';
  position: absolute;
  bottom: 0;
  right: 0;
  background: #f2f0f1;
  padding-left: 5px;
}

.cat__related a .cat__related-brand {
  color: #9b9b9b;
  display: block;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cat__related a:hover {
  color: #fff;
  background: #000;
  max-width: 500px;
}

.cat__related a:hover .cat__related-brand {
  color: #fff;
}

.cat__related a:hover .long {
  max-width: 100%;
}

.cat__related a:hover .long:after {
  display: none;
}

.pagination {
  list-style: none;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 50px;
  font-size: 16px;
}

.pagination li {
  display: inline-block;
  margin: 0 14px;
  font-weight: 700;
}

.pagination li a {
  font-weight: 400;
  color: #bebebe;
}

.pagination li a:hover {
  color: #000;
}

.pagination li.arrow {
  font-size: 20px;
  position: relative;
}

.pagination li.arrow a {
  color: #d8d8d8;
}

.pagination li.arrow a:hover {
  color: #000;
}

.pagination li.prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: -1px;
}

.pagination li.next {
  top: 4px;
}

.left-item__title {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 18px;
  line-height: 24px;
}

.left-menu {
  margin-bottom: 54px;
}

.left-menu ul {
  list-style: none;
  line-height: 22px;
  max-width: 205px;
  font-weight: 400;
}

.left-menu ul li a {
  color: #6c6c6c;
}

.left-menu ul li a:hover {
  color: #000;
}

.left-menu ul li a.active {
  font-weight: 900;
}

.left-menu ul li span {
  color: #CFCFCF;
  font-size: 9px;
  line-height: 9px;
  margin-left: 5px;
}

.left-menu > ul ul {
  padding-left: 14px;
}

.left-filter {
  padding-right: 10px;
  margin-bottom: 37px;
}

.left-filter .left-item__title {
  margin-bottom: 22px;
}

.left-filter__search input {
  width: 100%;
  height: 50px;
  border: 1px solid #d8d8d8;
  padding: 7px;
  font-size: 14px;
  font-weight: 300;
}

.left-filter__links {
  margin-top: 21px;
  line-height: 22px;
  font-weight: 400;
  height: 202px;
  overflow: hidden;
}

.left-filter__links ul {
  list-style: none;
}

.left-filter__links ul li a {
  color: #6c6c6c;
}

.left-filter__links ul li a:hover {
  color: #000;
}

.left-filter__links ul li a.active {
  font-weight: 900;
}

.left-filter .mCSB_scrollTools {
  margin-top: 11px;
  margin-bottom: 11px;
  width: 14px;
}

.left-filter .mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
  width: 10px;
  border-color: #d8d8d8;
  border-radius: 0;
}

.left-filter .mCSB_inside > .mCSB_container {
  padding-right: 20px;
  margin-right: 0;
}

.left-filter .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #d8d8d8;
  margin: 2px 4px;
}

/* ФИЛЬТРЫ */
.filters {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters ul {
  list-style: none;
}

.filters__active {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filters__active ul {
  list-style: none;
}

.filters__active ul li {
  display: inline-block;
  color: #8e8e8e;
  border: 1px solid #c7c7c7;
  padding: 4px 11px 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.filters__active ul li .clear {
  padding-left: 5px;
  cursor: pointer;
}

.filters__active ul li:last-child {
  border: none;
  padding: 4px 7px 5px;
}

.filters__active .clear_all {
  cursor: pointer;
}

.filter {
  display: inline-block;
  color: #6c6c6c;
  position: relative;
  font-size: 18px;
  padding-right: 20px;
  margin-right: 33px;
  font-weight: 400;
}

.filter:last-child {
  margin-right: 0;
}

.filter .icon {
  position: absolute;
  top: 10px;
  right: 4px;
  font-size: 10px;
}

.filter > span {
  cursor: pointer;
}

.filter.active span {
  font-weight: 700;
}

.filter.active .icon {
  display: none;
}

.filter__clear {
  position: absolute;
  top: 0px;
  right: 5px;
  font-weight: 400;
  cursor: pointer;
}

.filter__dropdown {
  position: absolute;
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  width: 343px;
  top: 35px;
  left: -140px;
  padding: 20px 22px 29px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  font-size: 14px;
  z-index: 111;
}

.filter__dropdown-sort {
  width: 203px;
  left: 0px;
}

.filter__search {
  margin-bottom: 39px;
}

.filter__search input {
  width: 100%;
  height: 43px;
  border: 1px solid #d8d8d8;
  padding: 7px;
  font-size: 14px;
  font-weight: 300;
}

.filter__price {
  margin-bottom: 30px;
}

.filter__price input {
  width: 100%;
  height: 43px;
  border: 1px solid #d8d8d8;
  padding: 7px;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

.filter__options {
  max-height: 335px;
  overflow: hidden;
  margin-bottom: 38px;
}

.filter__options ul {
  -webkit-column-count: 2;
  column-count: 2;
}

.filter__options ul li {
  margin-bottom: 15px;
}

.filter__sort {
  margin-bottom: 33px;
}

.filter__sort ul li {
  margin-bottom: 15px;
}

.filter .mCSB_scrollTools {
  margin-top: 3px;
  margin-bottom: 0px;
  width: 14px;
}

.filter .mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
  width: 10px;
  border-color: #d8d8d8;
  border-radius: 0;
}

.filter .mCSB_inside > .mCSB_container {
  padding-right: 20px;
  margin-right: 0;
}

.filter .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #d8d8d8;
  margin: 2px 4px;
}

.filter__button {
  text-align: center;
}

.filter__button .btn {
  padding: 10px 30px;
}

.filter__preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.7);
}

.sort {
  display: inline-block;
  color: #6c6c6c;
  position: relative;
  font-size: 18px;
  padding-right: 20px;
  margin-right: 33px;
  font-weight: 400;
}

.sort:last-child {
  margin-right: 0;
}

.sort .icon {
  position: absolute;
  top: 10px;
  right: 4px;
  font-size: 10px;
}

.sort > span {
  cursor: pointer;
}

.sort__dropdown {
  position: absolute;
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  top: 35px;
  width: 203px;
  left: 0px;
  padding: 20px 22px 29px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  font-size: 14px;
  z-index: 111;
}

.sort__options {
  max-height: 335px;
  overflow: hidden;
  margin-bottom: 38px;
}

.sort__options ul {
  -webkit-column-count: 2;
  column-count: 2;
}

.sort__options ul li {
  margin-bottom: 15px;
}

.sort__sort {
  margin-bottom: 33px;
}

.sort__sort ul li {
  margin-bottom: 15px;
}

.sort .mCSB_scrollTools {
  margin-top: 3px;
  margin-bottom: 0px;
  width: 14px;
}

.sort .mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
  width: 10px;
  border-color: #d8d8d8;
  border-radius: 0;
}

.sort .mCSB_inside > .mCSB_container {
  padding-right: 20px;
  margin-right: 0;
}

.sort .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #d8d8d8;
  margin: 2px 4px;
}

.sort__button {
  text-align: center;
}

.sort__button .btn {
  padding: 10px 30px;
}

/* КАТЕГОРИИ */
.cats .breadcrumbs {
  margin-left: 28px;
}

.cats__menu {
  padding: 0 119px !important;
  margin-top: 22px;
}

.cats__menu ul {
  list-style: none;
}

.cats__menu ul li {
  display: inline-block;
}

.cats__menu ul li a {
  display: inline-block;
  text-transform: lowercase;
  border: 1px solid;
  padding: 5px 12px;
  font-weight: 400;
  margin-right: 14px;
  color: #979797;
}

.cats__menu ul li a:hover {
  color: #fff;
  background: #000;
  border-color: #000;
}

.cats__menu ul li a.active {
  color: #fff;
  background: #000;
  border-color: #000;
}

.cats .page__title {
  margin-top: 28px;
  margin-bottom: 21px;
}

.cats .page__title h1 span {
  font-size: 14px;
  font-weight: 300;
  position: relative;
  top: -3px;
  padding-left: 29px;
  color: #979797;
}

.cats .page__title h1 span:after {
  content: '/';
  position: absolute;
  top: 0;
  left: 13px;
}

.cats__items {
  padding-bottom: 34px;
}

.cats__items .container {
  padding: 0 0 0 119px !important;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.cats__items .section-title {
  top: 210px;
  left: 20px;
}

.cats__item {
  width: 20%;
  padding-right: 68px;
  padding-bottom: 21px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
}

.cats__item h3 {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0;
}

.cats__item h3 a {
  color: #000;
}

.cats__item ul {
  list-style: none;
  margin-top: 21px;
}

.cats__item ul li {
  line-height: 21px;
}

.cats__item ul li a {
  color: #6C6C6C;
}

.cats__item ul li a:hover {
  color: #000;
}

.cats__item .dots {
  bottom: 0px;
  left: 0px;
  padding-bottom: 21px;
  width: 100%;
}

.cats__slider {
  background: #f2f0f1;
}

.cats__slider .container {
  padding: 59px 41px 56px 118px !important;
}

.cats__slider ul {
  list-style: none;
  padding-left: 1px;
}

.cats__slider ul li {
  margin-bottom: 2px;
}

.cats__slider ul li a {
  color: #6C6C6C;
}

.cats__slider ul li a:hover {
  color: #000;
}

.cats__slider .cats__arrow {
  top: 205px;
  color: #c8c8c8;
}

.cats__slider .cats__arrow.next {
  right: -28px;
}

.cats__slider .cats__arrow.prev {
  left: -30px;
}

.cats__brands .section-title {
  top: 253px;
  left: 25px;
}

.cats__sizes {
  background: #fff;
}

.cats__sizes .section-title {
  top: 174px;
  left: 25px;
}

.cats__sizes .container {
  padding: 92px 119px 94px !important;
}

.cats__sizes ul {
  list-style: none;
}

.cats__sizes ul li {
  display: inline-block;
}

.cats__sizes ul li a {
  display: inline-block;
  border: 1px solid;
  padding: 5px 11px;
  margin-right: 5px;
  margin-bottom: 8px;
  color: #000;
}

.cats__sizes ul li a:hover {
  color: #fff;
  background: #000;
  border-color: #000;
}

.cats__pops .section-title {
  top: 315px;
  left: 25px;
}

/* КАРТА САЙТА */
.sitemap .breadcrumbs {
  margin-left: 24px;
}

.sitemap .page__title {
  padding: 0 113px !important;
  margin-top: 19px;
  margin-bottom: 28px;
}

.sitemap__content {
  padding: 0 115px !important;
}

.sitemap__cattitle {
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 30px;
}

.sitemap__cattitle a {
  color: #000;
}

.sitemap__subcattitle {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  top: 128px;
  left: -116px;
  line-height: 14px;
  font-weight: 700;
  font-size: 14px;
}

.sitemap__subcattitle a {
  color: #000;
}

.sitemap__category {
  position: relative;
  border-bottom: 1px solid #a9a9a9;
  padding-bottom: 19px;
  margin-bottom: 26px;
}

.sitemap__category:last-child {
  border-bottom: none;
}

.sitemap__category ul {
  font-size: 12.5px;
  padding-left: 7px;
  line-height: 14px;
  list-style: none;
}

.sitemap__category ul li {
  width: 100%;
  max-width: 150px;
  margin-right: 57px;
}

.sitemap__category ul li a {
  margin-bottom: 10px;
  display: inline-block;
  color: #6C6C6C;
}

.sitemap__category ul li a:hover {
  color: #000;
}

.sitemap__category > ul {
  margin-right: -60px;
  margin-left: -7px;
  -webkit-column-count: 5;
  column-count: 5;
  overflow: hidden;
}

.sitemap__category > ul > li > ul {
  padding-right: 20px;
}

/* ОШИБКИ */
.error .breadcrumbs {
  margin-left: 29px;
}

.error__content {
  padding: 0 119px !important;
}

.error__image {
  padding: 21px 0 0;
  width: 100%;
  text-align: center;
}

.error__image img {
  width: 476px;
}

.error__text {
  font-size: 16px;
  text-align: center;
  max-width: 500px;
  margin: 8px auto 0;
  line-height: 24px;
}

.error__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39px;
  padding-top: 35px;
  border-top: 1px solid #979797;
}

.error__cat {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14%;
          flex: 0 0 14%;
  margin-right: 7.6%;
}

.error__cat:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13%;
          flex: 0 0 13%;
  margin-right: 0;
}

.error__cat ul {
  list-style: none;
}

.error__cat ul li {
  line-height: 20px;
}

.error__cat ul li a {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.error__cat ul li a:hover {
  text-decoration: underline;
}

.error__cat h3 {
  margin-bottom: 21px;
}

.error__cat h3 a {
  color: #000;
}

.error__cat h3 a:hover {
  text-decoration: underline;
}

/* КОНТАКТЫ */
.contacts .breadcrumbs {
  margin-left: 29px;
}

.contacts__map {
  margin-top: 16px;
  height: 260px;
  padding: 0 120px !important;
}

.contacts__map .section-title {
  top: 216px;
  left: 54px;
  font-size: 16px;
}

.contacts__content {
  padding: 36px 119px 70px !important;
}

.contacts__content.mapoff {
  padding: 27px 119px 70px !important;
}

.contacts__content.mapoff .section-title {
  top: 232px;
  left: 54px;
  font-size: 16px;
}

.contacts__content.mapoff .contacts__right {
  padding: 50px 0 0 49px;
}

.contacts__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62%;
          flex: 0 0 62%;
  max-width: 62%;
}

.contacts__left h2 {
  font-size: 24px;
  font-weight: 900;
}

.contacts__left input {
  width: 100%;
  margin-top: 16px;
  border: 1px solid #979797;
  padding: 13px 23px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans';
}

.contacts__left textarea {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #979797;
  padding: 17px 23px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans';
  height: 170px;
}

.contacts__button {
  text-align: right;
}

.contacts__button .btn {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 400;
  padding: 17px 43px;
}

.contacts__right {
  padding: 38px 0 0 105px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.contacts__right h3 {
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 0;
}

.contacts__item {
  margin-bottom: 19px;
}

/* О ПРОЕКТЕ */
.about-page {
  padding-bottom: 0 !important;
}

.about .breadcrumbs {
  margin-left: 29px;
}

.about-header {
  height: 450px;
  margin-top: 33px;
  background: #f2f0f1;
}

.about-header .container {
  padding: 0 71px 0 !important;
  display: block;
}

.about-header .section-title {
  top: 240px;
  left: 17px;
}

.about-header__image {
  float: left;
  margin-top: -31px;
  margin-right: -66px;
  margin-bottom: -24px;
}

.about-header__image img {
  max-width: 100%;
}

.about-header__title {
  display: inline-block;
  font-size: 44px;
  font-weight: 900;
  margin-top: 26px;
}

.about-header__subtitle {
  font-size: 16px;
  font-weight: 700;
  margin-top: 34px;
  line-height: 24px;
}

.about-header__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 30px;
  margin-top: 20px;
}

.about-items {
  margin-top: 64px;
}

.about-item {
  margin-bottom: -2px;
}

.about-item .container {
  width: 1040px;
  padding: 0 282px 0 202px !important;
}

.about-item__number {
  position: absolute;
}

.about-item__title {
  font-size: 44px;
  font-weight: 900;
  position: relative;
}

.about-item__text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  line-height: 24px;
  position: relative;
}

.about-item a {
  color: #9b9b9b;
  text-decoration: underline;
}

.about-item a:hover {
  text-decoration: none;
}

.about-item:nth-child(1) .about-item__number {
  color: #f0dcdd;
  font-size: 100px;
  font-weight: 900;
  left: 74px;
  top: -15px;
}

.about-item:nth-child(2) {
  margin-bottom: 1px;
}

.about-item:nth-child(2) .about-item__number {
  color: #f0dcdd;
  font-size: 290px;
  font-weight: 900;
  right: -13px;
  top: -92px;
}

.about-item:nth-child(3) {
  margin-bottom: 36px;
}

.about-item:nth-child(3) .about-item__number {
  color: #d8d8d8;
  font-size: 285px;
  font-weight: 900;
  left: 30px;
  top: -63px;
}

.about-item:nth-child(4) {
  margin-bottom: 8px;
}

.about-item:nth-child(4) .container {
  background: #f0dcdd;
  padding: 26px 282px 17px 202px !important;
}

.about-item:nth-child(4) .about-item__number {
  color: #fff;
  font-size: 370px;
  font-weight: 900;
  left: 35px;
  top: -109px;
}

.about-item:nth-child(5) {
  margin-bottom: -3px;
}

.about-item:nth-child(5) .about-item__number {
  color: #f0dcdd;
  font-size: 70px;
  font-weight: 900;
  left: 87px;
  top: -8px;
}

.about-item:nth-child(6) {
  margin-bottom: 20px;
}

.about-item:nth-child(6) .about-item__number {
  color: #f0dcdd;
  font-size: 70px;
  font-weight: 900;
  left: 88px;
  top: -17px;
}

.about-item:nth-child(7) {
  background: #f2f0f1;
  padding: 50px 0 76px;
}

.about-item:nth-child(7) .about-item__number {
  color: #fff;
  font-size: 77px;
  font-weight: 900;
  left: 86px;
  top: -17px;
}

.bookmarks__empty {
  text-align: center;
  width: 100%;
  font-size: 26px;
  font-weight: 800;
  max-width: 500px;
  margin: 0 auto;
}

.topline-banner {
  width: 100%;
  text-align: center;
  padding: 8px;
  background: #d7d7d7;
}

.topline-banner a {
  font-weight: 600;
  color: #000 !important;
}

.topline-banner a:hover {
  text-decoration: underline;
}

.topline-banner__close {
  position: absolute;
  right: 12px;
  top: 2px;
  width: 32px;
  height: 32px;
  opacity: 0.7;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.topline-banner__close:hover {
  opacity: 1;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.topline-banner__close:before, .topline-banner__close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.topline-banner__close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.topline-banner__close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=main.css.map */