@media (max-width: 1410px) {
  .header .container {
    width: 1300px;
  }
  .slider__arrow.prev {
    left: -22px;
  }
  .slider__arrow.next {
    right: -12px;
  }
  .section-title {
    left: 12px;
  }
}

@media (max-width: 1330px) {
  .header .container {
    width: 1220px;
  }
  .header__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 43%;
            flex: 0 0 43%;
    max-width: 43%;
  }
  .header__search {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .city-select {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31%;
            flex: 0 0 31%;
    max-width: 31%;
  }
  .slider__arrow.prev {
    left: 15px;
  }
  .slider__arrow.next {
    right: 15px;
  }
  .section-title {
    left: 50px;
  }
}

@media (max-width: 1250px) {
  .hidden-lg {
    display: none !important;
  }
  .show-lg {
    display: block !important;
  }
  .container {
    width: 992px;
  }
  .header .container {
    width: 992px;
  }
  .header__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
            flex: 0 0 36%;
    max-width: 36%;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28%;
            flex: 0 0 28%;
    max-width: 28%;
  }
  .header__search {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .header__likes {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 6%;
            flex: 0 0 6%;
    max-width: 6%;
  }
  .city-select {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .search-form {
    width: 230px;
  }
  .menu__list .container {
    padding: 40px 25px;
  }
  .menu__list > li > a {
    padding: 13px 27px;
  }
  .slider__arrow.prev {
    left: 15px;
  }
  .slider__arrow.next {
    right: 15px;
  }
  .section-title {
    left: 50px;
  }
  .banner__title h2 {
    font-size: 65px;
    letter-spacing: 0px;
  }
  .footer {
    height: 485px;
  }
  .footer .container:nth-child(2) {
    padding-left: 85px;
  }
  .footer__heart {
    height: 485px;
  }
  .brands-page .breadcrumbs {
    margin-left: 5px;
  }
  .page .container {
    padding: 0 15px;
  }
  .page.article .container {
    padding: 0 48px;
  }
  .page__title {
    padding: 0 20px !important;
  }
  .brands-page__letters {
    padding: 43px 20px !important;
  }
  .brands-page__letters ul li {
    margin-right: 14px;
  }
  .brands-content {
    padding: 18px 5px !important;
  }
  .products-content {
    padding: 20px 0px 0 50px !important;
  }
  .product-item__content {
    padding: 18px 44px 14px 44px !important;
  }
  .product-item__shop {
    left: 2px;
  }
  .product-item__socials {
    right: 60px;
  }
  .about-header {
    height: 490px;
    margin-top: 24px;
  }
  .about-header .container {
    padding: 0 22px 0 !important;
  }
  .about-header .section-title {
    display: none;
  }
  .about-header__image {
    max-width: 490px;
    margin-right: -37px;
    margin-top: -20px;
  }
  .about-header__title {
    font-size: 36px;
    max-width: 490px;
    margin-top: 62px;
    line-height: 30px;
  }
  .about-header__subtitle {
    max-width: 490px;
    display: inline-block;
    margin-top: 22px;
  }
  .about-header__text {
    margin-top: 5px;
    padding-right: 0;
  }
  .blog-bar .container {
    padding: 9px 56px 30px 52px !important;
  }
  .blog.on-inner .container {
    padding-right: 40px;
    padding-left: 40px;
  }
  .article__content {
    padding: 43px 201px 25px 141px !important;
  }
  .article__toptags {
    left: 790px;
  }
  .article__left {
    left: 20px;
  }
}

@media (max-width: 1000px) {
  .hidden-md {
    display: none !important;
  }
  .show-md {
    display: block !important;
  }
  .btn-primary:hover {
    background: #d7d7d7;
    border: 1px solid #d7d7d7;
    color: #000;
  }
  .btn-grey:hover {
    background: #f2f0f1;
    border: 1px solid #f2f0f1;
    color: #000;
  }
  .btn-white:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
  }
  .btn-black:hover {
    background: #000;
    border: 1px solid #000;
    color: #fff;
  }
  .cat .breadcrumbs {
    margin-left: 34px;
    margin-top: 2px;
  }
  .cat__content {
    padding: 0 43px 0 47px !important;
  }
  .cat__right {
    padding: 0;
  }
  .cat__title {
    margin-top: 13px;
    border-bottom: none;
    padding-right: 200px;
    padding-bottom: 0;
    margin-bottom: 26px;
  }
  .cat__title h1 {
    font-size: 19px;
    margin-right: 0;
    line-height: 24px;
  }
  .cat__title h1 span {
    font-size: 12px;
    top: -1px;
  }
  .cat__title h1 span:after {
    top: -3px;
  }
  .cat__title ul {
    margin-top: 6px;
    font-size: 11px;
  }
  .cat__products {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 13px;
  }
  .cat__products .product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 182px;
            flex: 0 0 182px;
    max-width: 182px;
    padding: 0 0 19px;
    margin: 0 19px 9px;
  }
  .cat__products .product__image img.active.mob {
    display: inline-block;
  }
  .cat__products .product__image img.active.pc {
    display: none;
  }
  .cat__products .product__like {
    right: 6px;
    top: 10px;
  }
  .cat__products .product__price {
    padding-left: 0;
    padding-right: 0;
  }
  .cat__products .product__brand {
    margin-top: 15px;
    padding-left: 0;
    padding-right: 0;
  }
  .cat__products .product__desc {
    margin-left: 0;
    margin-right: 0;
  }
  .cat__products .product:hover .product__economy {
    opacity: 0;
  }
  .cat__count {
    font-size: 12px;
    margin-top: 28px;
  }
  .cat__text.bottom {
    margin-top: 32px;
    padding-top: 35px;
  }
  .cat__text.bottom h2 {
    font-size: 13px;
    margin-bottom: 3px;
  }
  .cat__text.bottom p {
    font-size: 13px;
  }
  .cat__related a:hover {
    background: #f2f0f1;
    color: #000;
    max-width: 114px;
  }
  .cat__related a:hover .cat__related-brand {
    color: #9b9b9b;
  }
  .cat__related a:hover .long {
    max-width: 100%;
  }
  .cat__related a:hover .long:after {
    display: block;
  }
  .filter {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    padding: 0;
    color: #9b9b9b;
    font-weight: 300;
    position: unset;
    padding: 0 !important;
  }
  .filter > span {
    width: 100%;
    display: block;
    position: relative;
    padding: 15px 46px;
  }
  .filter.active span {
    font-weight: 300;
  }
  .filter.active .icon {
    display: block;
  }
  .filter .icon {
    font-size: 8px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    right: 54px;
    top: 21px;
  }
  .filter-count {
    position: absolute;
    right: 27px;
    top: 8px;
  }
  .filter__dropdown {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 45px 0 0;
    left: 100%;
    -webkit-transition: 300ms;
    transition: 300ms;
    z-index: 123;
    overflow: auto;
    display: block !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
  }
  .filter__clear {
    display: none;
  }
  .filter:hover {
    color: #000;
  }
  .filter:hover span {
    font-weight: 700;
  }
  .filter__search {
    padding: 20px 44px;
    margin-bottom: 0;
  }
  .filter__search input {
    width: 100%;
    height: 41px;
    padding: 0 15px;
  }
  .filter__options {
    padding: 12px 0;
    max-height: unset;
    margin-bottom: 0;
  }
  .filter__options ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #f2f0f0;
  }
  .filter__options ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333%;
            flex: 0 0 33.3333333%;
    padding: 15px 0 15px 50px;
    border-bottom: 1px solid #f2f0f0;
    border-right: 1px solid #f2f0f0;
    margin-bottom: 0;
    color: #000;
  }
  .filter__button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .filter__price {
    padding: 20px 50px;
  }
  .sort {
    width: 180px;
    height: 36px;
    border: 1px solid #000;
    font-size: 12px;
    padding: 0;
  }
  .sort > span {
    width: 100%;
    display: block;
    padding: 8px 14px;
  }
  .sort .icon {
    top: 14px;
    right: 10px;
  }
  .sort-count {
    position: absolute;
    right: 27px;
    top: 8px;
  }
  .sort__dropdown {
    top: 45px;
  }
  .sort__dropdown-sort {
    left: auto;
    right: -12px;
  }
  .filters__active {
    margin-top: 10px;
  }
  .pagination {
    margin-top: 14px;
    margin-bottom: 30px;
  }
  .pagination li {
    margin: 0 11px;
  }
  .pagination li a:hover {
    color: #bebebe;
  }
  .pagination li.arrow a:hover {
    color: #d8d8d8;
  }
  .cats .breadcrumbs {
    margin-left: 57px;
    margin-top: 9px;
  }
  .cats__menu {
    padding: 0 21px !important;
    margin-top: 24px;
  }
  .cats .page__title {
    margin-top: 36px;
    margin-bottom: 25px;
  }
  .cats .page__title h1 {
    font-size: 30px;
  }
  .cats__items {
    padding-bottom: 0px;
    margin-bottom: -3px;
  }
  .cats__items .container {
    padding: 0 0 0 19px !important;
  }
  .cats__items .section-title {
    position: static;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 100%;
    font-size: 18px;
  }
  .cats__item {
    width: 33.3333%;
    margin-top: 19px;
    margin-bottom: -10px;
  }
  .cats__slider .container {
    padding: 45px 22px 26px 22px !important;
  }
  .cats__slider .section-title {
    position: static;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 100%;
    font-size: 20px;
    margin-bottom: 42px;
  }
  .cats__slider .owl-dots {
    margin-top: 38px;
    padding-right: 0px;
  }
  .cats__sizes .container {
    padding: 37px 21px 40px 21px !important;
  }
  .cats__sizes .section-title {
    position: static;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 100%;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .sitemap .breadcrumbs {
    margin-left: 7px;
  }
  .sitemap .page__title {
    padding: 0 21px !important;
    margin-top: 23px;
    margin-bottom: 22px;
  }
  .sitemap__content {
    padding: 0 18px 0 23px !important;
  }
  .sitemap__cattitle {
    font-weight: 400;
    margin-bottom: 26px;
  }
  .sitemap__subcattitle {
    position: static;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 100%;
    margin-bottom: 29px;
  }
  .sitemap__category > ul {
    margin-right: 0;
    -webkit-column-count: 4;
    column-count: 4;
  }
  .sitemap__category > ul li {
    margin-right: 8px;
  }
  .sitemap__category > ul li a {
    margin-bottom: 8px;
  }
  .sitemap-brands .sitemap__cattitle {
    font-weight: 700;
  }
  .error .breadcrumbs {
    margin-left: 6px;
  }
  .error__content {
    padding: 0 21px !important;
  }
  .error__image {
    padding: 6px 0 0;
    width: 100%;
    text-align: center;
  }
  .error__image img {
    width: 380px;
  }
  .error__text {
    font-size: 14px;
    max-width: 650px;
    margin: 15px auto 0;
    line-height: 19px;
  }
  .error__links {
    margin-top: 27px;
    padding-top: 22px;
  }
  .error__cat {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 19%;
            flex: 0 0 19%;
    margin-right: 1.5%;
  }
  .error__cat:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    margin-right: 0;
  }
  .error__cat h3 {
    margin-bottom: 18px;
    font-size: 14px;
  }
  .error__cat ul li {
    line-height: 21px;
  }
  .error__cat ul li a {
    font-size: 14px;
  }
  .contacts .breadcrumbs {
    margin-left: 6px;
    margin-top: -2px;
  }
  .contacts__map {
    margin-top: 16px;
    height: 250px;
    padding: 0 0 !important;
    width: 100% !important;
    overflow: hidden;
  }
  .contacts__map .section-title {
    display: none;
  }
  .contacts__content {
    padding: 17px 0 53px 21px !important;
  }
  .contacts__content.mapoff {
    padding: 12px 0 40px 21px !important;
  }
  .contacts__content.mapoff .section-title {
    display: none;
  }
  .contacts__content.mapoff .contacts__right {
    padding: 37px 0 0 25px;
  }
  .contacts__content.mapoff .contacts__item {
    margin-bottom: 21px;
  }
  .contacts__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .contacts__left h2 {
    font-size: 18px;
  }
  .contacts__left input {
    margin-top: 14px;
  }
  .contacts__left textarea {
    margin-top: 15px;
  }
  .contacts__button .btn {
    margin-top: 11px;
    font-size: 14px;
    padding: 12px 24px;
  }
  .contacts__right {
    padding: 38px 0 0 25px;
    font-size: 14px;
    line-height: 18px;
  }
  .contacts__right h3 {
    font-size: 14px;
  }
  .contacts__item {
    margin-bottom: 13px;
  }
  .about .breadcrumbs {
    margin-left: 32px;
    margin-top: -2px;
  }
  .about-header {
    height: 610px;
    margin-top: 16px;
  }
  .about-header .container {
    padding: 0 22px 0 !important;
  }
  .about-header .section-title {
    display: none;
  }
  .about-header__image {
    max-width: 433px;
    margin-right: -37px;
    margin-top: -17px;
  }
  .about-header__title {
    font-size: 30px;
    max-width: 250px;
    margin-top: 62px;
    line-height: 30px;
  }
  .about-header__subtitle {
    max-width: 270px;
    display: inline-block;
    margin-top: 22px;
    margin-left: -4px;
  }
  .about-header__text {
    display: block;
    width: 100%;
    float: left;
    margin-top: 24px;
    padding-right: 0;
  }
  .about-items {
    margin-top: 25px;
  }
  .about-item .container {
    width: 710px;
    padding: 0 20px 0 134px !important;
  }
  .about-item__title {
    font-size: 30px;
  }
  .about-item__text {
    margin-top: 20px;
  }
  .about-item:nth-child(1) {
    margin-bottom: 13px;
  }
  .about-item:nth-child(1) .about-item__number {
    left: 21px;
    top: -25px;
  }
  .about-item:nth-child(2) {
    margin-bottom: 16px;
  }
  .about-item:nth-child(2) .about-item__number {
    right: 9px;
    top: -103px;
  }
  .about-item:nth-child(3) {
    margin-bottom: 17px;
  }
  .about-item:nth-child(3) .about-item__number {
    font-size: 200px;
    left: 16px;
    top: -9px;
  }
  .about-item:nth-child(4) {
    margin-bottom: 28px;
  }
  .about-item:nth-child(4) .container {
    padding: 30px 20px 12px 134px !important;
  }
  .about-item:nth-child(4) .about-item__number {
    left: 15px;
    top: -38px;
  }
  .about-item:nth-child(5) {
    margin-bottom: 12px;
  }
  .about-item:nth-child(5) .about-item__number {
    left: 20px;
    top: 41px;
  }
  .about-item:nth-child(6) {
    margin-bottom: 14px;
  }
  .about-item:nth-child(6) .about-item__number {
    left: 23px;
    top: 43px;
  }
  .about-item:nth-child(7) {
    padding: 31px 0 64px;
  }
  .about-item:nth-child(7) .about-item__number {
    left: 19px;
    top: -11px;
  }
  .container {
    width: 710px;
  }
  .header {
    padding: 15px 0 9px;
  }
  .header .container {
    width: 706px;
    position: unset;
  }
  .header__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 19%;
            flex: 0 0 19%;
    max-width: 19%;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28%;
            flex: 0 0 28%;
    max-width: 28%;
    position: relative;
    z-index: 13;
  }
  .header__logo svg {
    width: 70px;
    height: auto;
  }
  .header__search {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    left: 0;
    top: 0;
    padding: 75px 0 20px 0;
    z-index: 12;
    background: #fff;
  }
  .header__search.col {
    display: none;
  }
  .header__search-close {
    display: block;
    position: absolute;
    top: 12px;
    left: 50%;
    margin-left: -336px;
    font-size: 34px;
    font-weight: 500;
  }
  .header__likes {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
            flex: 0 0 36%;
    max-width: 36%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 25px;
    margin-top: -5px;
    top: 0;
    padding-right: 15px;
  }
  .header__mob {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17%;
            flex: 0 0 17%;
    max-width: 17%;
  }
  .search-form {
    width: 670px;
    margin: 0 auto;
  }
  .city-select {
    margin-left: 5px;
    margin-top: -3px;
  }
  .city-select__dropdown {
    position: fixed;
    left: 0;
    top: 0;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: auto;
    font-size: 16px;
    z-index: 14;
  }
  .city-select__dropdown .city-select__arrow {
    display: none;
  }
  .city-select ul {
    margin-top: 20px;
  }
  .city-select ul > li {
    margin: 0;
    padding: 15px 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .city-select__button {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .city-select__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .city-select__title .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0;
  }
  .mobmenu__title {
    background: #000;
    color: #fff;
    padding: 13px 25px;
  }
  .mobmenu__title.col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobmenu__close {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    cursor: pointer;
  }
  .menu {
    font-size: 16px;
    letter-spacing: 0.5px;
  }
  .menu__list > li > a {
    padding: 11px 43px 12px;
  }
  .menu__list > li > a:hover {
    background: #000;
  }
  .menu__list > li:hover .menu__dropdown {
    opacity: 0;
    visibility: hidden;
  }
  .top-banner {
    height: 295px;
    margin-bottom: 11px;
  }
  .top-banner__content {
    padding: 70px 0 0 69px;
  }
  .top-banner__content h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .top-banner__content p {
    font-size: 17px;
    padding-left: 0px;
    margin-top: 21px;
    line-height: 20px;
    letter-spacing: -0.2px;
  }
  .section-title {
    left: 16px;
    font-size: 16px;
  }
  .products__slider {
    padding-right: 0px;
    padding-left: 52px;
    margin-bottom: 8px;
  }
  .products__news .section-title {
    margin-top: -24px;
  }
  .products__popular .section-title {
    margin-top: -11px;
  }
  .products.on-inner {
    margin-top: 50px;
    padding-bottom: 62px;
  }
  .products.on-inner .products__slider {
    padding-right: 26px;
    padding-left: 25px;
  }
  .products.on-inner .section-title {
    position: relative;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 0;
    margin-top: 0;
    font-size: 19px;
    left: 0;
    padding-left: 21px;
    letter-spacing: 0.5px;
    text-transform: unset;
    margin-bottom: 23px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .products.on-inner .owl-dots {
    text-align: center;
    margin-top: 1px;
    padding-right: 52px;
    display: none;
  }
  .products.on-inner .products__button {
    margin-top: 35px;
    margin-bottom: 15px;
  }
  .products.on-item {
    margin-top: -6px !important;
  }
  .products.on-cats {
    margin-top: 6px;
  }
  .products.on-cats .section-title {
    padding-left: 43px;
  }
  .product__labels {
    left: 28px;
    top: 28px;
  }
  .product__like {
    right: 24px;
    top: 28px;
  }
  .product__price {
    font-size: 15px;
    margin-top: 9px;
  }
  .product__brand {
    margin-top: 15px;
    font-size: 16px;
  }
  .product__desc {
    font-size: 13px;
    line-height: 16px;
    margin-top: 2px;
    letter-spacing: -0.2px;
    height: 35px;
  }
  .product__info {
    display: none;
  }
  .product__like {
    opacity: 1;
  }
  .product:hover {
    border-color: transparent !important;
  }
  .product:hover .product__info {
    display: none;
  }
  .product-item .breadcrumbs {
    margin-left: 56px;
    margin-top: 10px;
  }
  .product-item .cashback {
    width: 238px;
  }
  .product-item .cashback__description {
    padding: 5px 20px 80px 30px;
  }
  .product-item .cashback__arrow {
    top: 30px;
  }
  .product-item .cashback_is-open .cashback__info {
    height: 310px;
  }
  .product-item__content {
    padding: 24px 44px 14px 21px !important;
  }
  .product-item__thumbs {
    margin: 7px -12px 22px 0;
  }
  .product-item__right {
    padding-left: 20px;
  }
  .product-item__title {
    margin-top: -1px;
  }
  .product-item__cat {
    margin-top: 0;
  }
  .product-item__price {
    margin-top: 23px;
  }
  .product-item__links a {
    margin-bottom: 6px;
  }
  .product-item__buy {
    margin-top: 29px;
  }
  .product-item__buy .btn {
    padding: 14px 0;
    width: 238px;
    text-align: center;
  }
  .product-item__attrs {
    margin-top: 27px;
    margin-bottom: 41px;
  }
  .product-item__socials {
    top: 116px;
    right: 19px;
  }
  .product-item__shop {
    display: none;
  }
  .product-item__desc {
    padding-right: 15px;
    margin-bottom: 21px !important;
  }
  .product-item__chart {
    margin-left: -9px;
  }
  .product-item__tags {
    margin-top: -4px;
  }
  .product-item-page {
    padding-bottom: 0;
  }
  .slider__arrow {
    display: none;
  }
  .banner {
    margin-bottom: 11px;
    height: 300px;
    margin-top: 20px;
  }
  .banner__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%;
    max-width: 47%;
    padding: 112px 0 0 17px;
  }
  .banner__link {
    display: none;
  }
  .banner__menu {
    display: none;
  }
  .banner__title {
    margin-top: 0;
  }
  .banner__title h2 {
    font-size: 40px;
    letter-spacing: 1px;
  }
  .banner.cosm {
    margin-top: 21px;
    margin-bottom: 11px;
  }
  .blog {
    margin-top: 21px;
    padding-top: 9px;
    padding-bottom: 37px;
  }
  .blog .section-title {
    margin-top: 22px;
    position: relative;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 0;
    left: 0;
    font-size: 20px;
    line-height: 26px;
    display: block;
    margin-bottom: 24px;
    margin-left: 12px;
    text-transform: unset;
  }
  .blog__slider {
    padding-right: 0px;
    padding-left: 2px;
  }
  .blog-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    margin: 0 12px 25px;
  }
  .blog-item.col {
    margin: 0 1.5% 25px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%;
  }
  .blog-item:hover .blog-item__desc {
    opacity: 0;
    visibility: hidden;
  }
  .blog-item:hover .blog-item__likes {
    color: #f0dcdd;
  }
  .blog__button {
    display: block;
  }
  .blog__button a {
    width: 47%;
  }
  .blog-bar {
    background: transparent;
  }
  .blog-bar__cats {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 123;
    font-size: 16px;
  }
  .blog-bar__show-cats {
    display: block;
    border: 1px solid;
    font-size: 13px;
    padding: 5px 8px;
    width: 158px;
    position: relative;
  }
  .blog-bar__show-tags {
    display: block;
    border: 1px solid;
    font-size: 13px;
    padding: 5px 8px;
    width: 158px;
    position: relative;
  }
  .blog-bar__arrow {
    position: absolute;
    margin-left: 0;
    top: 11px;
    right: 10px;
  }
  .blog-bar .container {
    padding: 0px 12px 31px 13px !important;
  }
  .blog-cats ul {
    margin-top: 20px;
  }
  .blog-cats ul > li {
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 15px 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .blog-cats__button {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .blog-cats__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: #000;
    color: #fff;
    padding: 13px 25px;
  }
  .blog-cats__title .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0;
  }
  .blog-cats__close {
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .blog-tags {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-top: 0;
    max-height: 100%;
    overflow: auto;
    font-size: 16px;
  }
  .blog-tags__container {
    padding: 0;
    font-size: 16px;
  }
  .blog-tags ul {
    margin-top: 20px;
  }
  .blog-tags ul > li {
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 15px 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .blog-tags ul > li a {
    display: block;
  }
  .blog-tags__button {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .blog-tags__mobtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: #000;
    color: #fff;
    padding: 13px 25px;
  }
  .blog-tags__mobtitle .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0;
  }
  .blog-tags__mobclose {
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .blog-tags__close {
    display: none;
  }
  .blog-tags__title {
    display: none;
  }
  .blog-tags__arrows {
    display: none;
  }
  .blog.on-inner {
    padding-top: 49px;
    padding-bottom: 36px;
  }
  .blog.on-inner .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .blog.on-inner .section-title {
    padding-left: 1px;
    left: 0;
  }
  .blog.on-inner .blog__button {
    margin-top: 11px;
  }
  .blog.on-inner.on-error {
    margin-top: 0px;
    padding-bottom: 80px;
  }
  .blog.on-shops {
    display: none;
  }
  .blog.blog-page {
    padding-top: 0;
    padding-bottom: 87px;
  }
  .blog.blog-page > div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .blog.blog-page > div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .blog.blog-page .breadcrumbs {
    margin-top: 23px;
    margin-left: 23px;
    margin-bottom: 18px;
  }
  #blog-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article > div:nth-child(1) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .article > div:nth-child(2) {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .article .breadcrumbs {
    margin-left: 8px;
    margin-top: 24px;
    margin-bottom: 17px;
  }
  .article .blog-bar .container {
    padding: 0px 12px 0px 13px !important;
  }
  .article__content {
    padding: 24px 30px 25px 30px !important;
  }
  .article__date {
    margin-bottom: 34px !important;
  }
  .article__toptags {
    display: none;
  }
  .article__left {
    display: none;
  }
  .article__image {
    margin: 33px auto 41px;
  }
  .article__image-desc {
    position: relative;
    left: 0 !important;
    width: 100%;
    bottom: auto !important;
    margin-left: 0;
    top: auto !important;
    margin-top: 10px;
  }
  .article__image-desc.in-center {
    max-width: 400px;
  }
  .article__image.main {
    margin: 0 auto 35px;
  }
  .article__image.two {
    margin: 14px 0 38px;
  }
  .article__insta {
    margin: 30px auto 62px;
  }
  .article__insta-desc {
    position: relative;
    left: 0;
    width: 100%;
    bottom: auto !important;
    margin-left: 0;
    top: auto !important;
    margin-top: 18px;
    text-align: center;
  }
  .article__video {
    margin: 41px auto 41px;
  }
  .article__tags {
    margin-bottom: 39px;
  }
  .article__bar {
    margin-bottom: 41px;
  }
  .brands {
    background: #fff;
    margin-top: 0px;
    padding: 46px 0;
  }
  .brands__slider {
    padding-right: 35px;
    padding-left: 65px;
  }
  .brands .owl-dots {
    display: none;
  }
  .brand img {
    max-width: 80px;
  }
  .shops {
    background: #d7d7d7;
    margin-top: 0px;
    padding: 46px 0;
  }
  .shops__slider {
    padding-right: 35px;
    padding-left: 65px;
  }
  .shops .owl-dots {
    display: none;
  }
  .shops .section-title {
    margin-top: 46px;
  }
  .shop img {
    max-width: 80px;
  }
  .social-icons {
    margin-top: 0;
    margin-bottom: 39px;
  }
  .social-icons__item {
    margin: 0 4px;
    text-align: center;
    display: inline-block;
  }
  .footer {
    height: 429px;
  }
  .footer__wrapper {
    padding: 35px 0;
  }
  .footer .social-icons {
    margin-top: 0;
    margin-bottom: 39px;
  }
  .footer .container:nth-child(2) {
    padding-left: 16px;
  }
  .footer__menu:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 175px;
            flex: 0 0 175px;
  }
  .footer__menu:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 111px;
            flex: 0 0 111px;
  }
  .footer__menu:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 117px;
            flex: 0 0 117px;
  }
  .footer__menu:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 109px;
            flex: 0 0 109px;
  }
  .footer__copy {
    margin-top: 45px;
    letter-spacing: 0.2px;
    font-size: 12px;
  }
  .footer__heart {
    font-size: 584px;
    height: 424px;
    right: 63px;
    top: -75px;
  }
  .page {
    padding-top: 14px;
  }
  .page .container {
    padding: 0 15px;
  }
  .page.article .container {
    padding: 0 15px;
  }
  .breadcrumbs {
    font-size: 12px;
    margin-left: 6px;
  }
  .shops-content {
    margin-top: 24px;
    padding-bottom: 43px !important;
  }
  .shops-item {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    padding: 0 5px;
  }
  .content {
    display: none;
  }
  .products.on-shops {
    display: none;
  }
  .brands-page {
    padding-bottom: 50px;
  }
  .page__title {
    margin-top: 20px;
    line-height: 24px;
  }
  .page__title h1 {
    font-size: 20px;
  }
  .brands-page__letters {
    font-size: 14px;
    padding: 24px 20px !important;
  }
  .brands-page__letters ul li {
    margin-right: 7px;
  }
  .brands-page__letters ul li.rus-letters {
    margin-left: 21px;
    letter-spacing: 0;
  }
  .brands-page__letters ul li.other-letters {
    margin-left: 22px;
  }
  .brands-content {
    padding: 13px 6px !important;
  }
  .brands-item__list ul {
    -webkit-column-count: 3;
    column-count: 3;
  }
  .brands-item__list ul li {
    padding-right: 10px;
  }
  .brands-item__list ul li a span {
    opacity: 1;
    visibility: visible;
  }
  .brands__button {
    margin: 28px 0 23px;
  }
  .offers-page {
    padding-bottom: 13px;
  }
  .offers-page .container {
    padding: 0 9px;
  }
  .offers-page .breadcrumbs {
    margin-left: 5px;
    margin-top: 9px;
  }
  .offers-content {
    padding: 23px 13px 0 !important;
  }
  .offers-content .section-title {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    font-size: 19px;
    text-transform: unset;
    margin-bottom: 34px;
  }
  .offer {
    margin-bottom: 37px;
  }
  .offer__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 333px;
            flex: 0 0 333px;
    max-width: 333px;
  }
  .offer__shop {
    margin: 26px 17px 0;
    font-size: 13px;
  }
  .offer__title {
    margin: 13px 17px 0;
    font-size: 36px;
  }
  .offer__desc {
    padding: 21px 17px 0;
    line-height: 17px;
    font-size: 13px;
    letter-spacing: -0.5px;
  }
  .offer__bottom {
    padding: 12px 23px 0 17px;
  }
  .offer__timer {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0;
  }
  .offer__link {
    font-size: 12px;
    margin-top: 1px;
  }
  .offer__link .icon {
    font-size: 11px;
    margin-left: 12px;
    position: relative;
    top: 2px;
  }
  .products.marks-page .section-title {
    display: none !important;
  }
  .products-content .product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-bottom: 6px;
  }
  .marks-page .breadcrumbs {
    margin-left: 57px;
    margin-top: 10px;
  }
  .marks-page .page__title {
    padding: 0 15px 0 44px !important;
    margin-top: 25px;
  }
  .products-content {
    padding: 20px 25px 0 24px !important;
  }
  .to-top {
    right: 20px;
    bottom: 20px;
  }
}

@media (max-width: 760px) {
  .hidden-sm {
    display: none !important;
  }
  .show-sm {
    display: block !important;
  }
  .cat .breadcrumbs {
    margin-left: 6px;
    margin-top: 1px;
  }
  .cat__content {
    padding: 0 2px 0 3px !important;
  }
  .cat__right {
    overflow: hidden;
  }
  .cat__title {
    padding: 0 20px;
    margin-top: 15px;
    margin-bottom: 21px;
  }
  .cat__title h1 {
    font-size: 16px;
    line-height: 20px;
  }
  .cat__title h1 span:after {
    top: 0px;
  }
  .cat__active {
    margin-top: 11px;
  }
  .cat__active ul li {
    margin-bottom: 9px;
  }
  .cat__products {
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 0px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .cat__products .product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47.895%;
            flex: 0 0 47.895%;
    width: 47.895%;
    max-width: 220px;
    padding: 0 0 18px;
    margin: 0 1.05% 9px;
  }
  .cat__count {
    font-size: 12px;
    margin-top: 9px;
  }
  .cat__text.bottom {
    margin: 28px 21px 0;
    padding-top: 28px;
    max-height: 843px;
    overflow: hidden;
    border-bottom: none;
    position: relative;
  }
  .cat__text.bottom h2 {
    font-size: 12px;
  }
  .cat__text-images img {
    margin: 0 3px;
    max-width: 45%;
  }
  .cat__text-show {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    padding-top: 15px;
    text-align: center;
  }
  .cat__text-show a {
    text-decoration: none;
    font-weight: 700;
  }
  .cat__related {
    padding: 0 22px;
    margin-top: 40px;
  }
  .cat__related a {
    width: 92%;
    min-width: 92%;
    font-size: 12px;
    margin-right: 0;
  }
  .cat__related .owl-dots {
    padding-right: 10px;
  }
  .pagination {
    margin-top: 19px;
    margin-bottom: 30px;
  }
  .filters ul {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
  .filter {
    width: 100%;
  }
  .filter__search {
    padding: 20px 30px;
  }
  .filter__options ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 15px 0 15px 30px;
  }
  .filter > span {
    padding: 14px 46px;
  }
  .filter .icon {
    right: 22px;
    top: 20px;
  }
  .filter__price {
    padding: 20px 30px;
  }
  .sort {
    width: 100%;
  }
  .sort__dropdown {
    left: auto;
    right: 0;
  }
  .mobfilter__search {
    padding: 20px 30px;
  }
  .mobfilter__options ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 15px 0 15px 30px;
  }
  .mobfilter__price {
    padding: 20px 30px;
  }
  .cats .breadcrumbs {
    margin-left: 6px;
    margin-top: 1px;
  }
  .cats__menu {
    padding: 0 24px !important;
    margin-top: 11px;
  }
  .cats__menu ul li a {
    margin-right: 5px;
    margin-bottom: 7px;
  }
  .cats .page__title {
    margin-top: 20px;
    margin-bottom: 27px;
    padding: 0 26px !important;
    line-height: 28px;
  }
  .cats .page__title h1 span {
    display: block;
    padding-left: 0;
    margin-top: 11px;
  }
  .cats .page__title h1 span:after {
    display: none;
  }
  .cats__items {
    margin-bottom: 23px;
  }
  .cats__items .container {
    padding: 0 0 0 24px !important;
  }
  .cats__item {
    width: 100%;
    margin-top: 15px;
    margin-bottom: -18px;
  }
  .cats__slider .container {
    padding: 33px 24px 25px 24px !important;
  }
  .cats__slider .section-title {
    margin-bottom: 49px;
  }
  .cats__sizes .container {
    padding: 37px 25px 34px !important;
  }
  .cats__sizes .section-title {
    margin-bottom: 25px;
  }
  .sitemap .breadcrumbs {
    margin-left: 4px;
  }
  .sitemap .page__title {
    padding: 0 21px !important;
    margin-top: 20px;
    margin-bottom: 27px;
    line-height: 20px;
  }
  .sitemap .page__title h1 {
    font-size: 20px;
  }
  .sitemap__content {
    padding: 0 15px 0 22px !important;
  }
  .sitemap__category > ul {
    -webkit-column-count: 2;
    column-count: 2;
  }
  .sitemap__category > ul li {
    margin-right: 17px;
  }
  .error .breadcrumbs {
    margin-left: 4px;
  }
  .error__content {
    padding: 0 24px !important;
  }
  .error__image {
    padding: 12px 0 0;
  }
  .error__image img {
    width: 325px;
    max-width: 100%;
  }
  .error__text {
    margin: 18px auto 0;
  }
  .error__links {
    padding-top: 18px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .error__cat {
    margin-bottom: 44px;
  }
  .error__cat:nth-child(2n-1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42%;
            flex: 0 0 42%;
    margin-left: 9%;
    margin-right: 7%;
  }
  .error__cat:nth-child(2n) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42%;
            flex: 0 0 42%;
    margin-left: 0;
    margin-right: 0;
  }
  .error__cat h3 {
    margin-bottom: 18px;
    font-size: 14px;
  }
  .error__cat ul li {
    line-height: 21px;
  }
  .error__cat ul li a {
    font-size: 14px;
  }
  .contacts .breadcrumbs {
    margin-left: 6px;
    margin-top: 1px;
  }
  .contacts__map {
    margin-top: 12px;
  }
  .contacts__content {
    padding: 16px 0 22px 21px !important;
  }
  .contacts__content.mapoff {
    padding: 11px 0 17px 21px !important;
  }
  .contacts__content.mapoff .contacts__left {
    padding: 4px 25px 0 4px;
  }
  .contacts__content.mapoff .contacts__right {
    padding: 0px 45px 0 4px;
  }
  .contacts__content.mapoff .contacts__item {
    margin-bottom: 21px;
  }
  .contacts__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 20px 25px 0 4px;
  }
  .contacts__left h2 {
    line-height: 20px;
  }
  .contacts__left input {
    margin-top: 15px;
  }
  .contacts__button .btn {
    margin-top: 16px;
  }
  .contacts__right {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding: 0px 45px 0 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts__button {
    text-align: center;
  }
  .about .breadcrumbs {
    margin-left: 6px;
    margin-top: 1px;
  }
  .about-header {
    height: auto;
    margin-top: 12px;
    padding-bottom: 10px;
  }
  .about-header .container {
    padding: 0 8px 0 25px !important;
  }
  .about-header__image {
    max-width: 100%;
    margin-right: 0;
    margin-top: -15px;
    margin-bottom: 0;
  }
  .about-header__title {
    margin-top: 29px;
    float: none;
    max-width: 100%;
    margin-left: 3px;
  }
  .about-header__subtitle {
    float: none;
    max-width: 100%;
    margin-left: 0px;
    padding-right: 10px;
  }
  .about-header__text {
    float: none;
    margin-top: 5px;
    padding-right: 15px;
  }
  .about-header__text br {
    display: block !important;
  }
  .about-items {
    margin-top: 22px;
  }
  .about-item .container {
    width: 100%;
    padding: 0 22px 0 25px !important;
  }
  .about-item__title {
    font-size: 30px;
  }
  .about-item__text {
    margin-top: 20px;
  }
  .about-item:nth-child(1) {
    margin-bottom: 9px;
  }
  .about-item:nth-child(1) .about-item__number {
    left: auto;
    right: 14px;
    top: -64px;
    font-size: 190px;
  }
  .about-item:nth-child(2) {
    margin-bottom: 10px;
  }
  .about-item:nth-child(2) .about-item__number {
    right: auto;
    left: 39px;
    top: -110px;
  }
  .about-item:nth-child(3) {
    margin-bottom: 5px;
  }
  .about-item:nth-child(3) .about-item__number {
    font-size: 190px;
    left: auto;
    right: 10px;
    top: 103px;
  }
  .about-item:nth-child(4) {
    margin-bottom: 25px;
  }
  .about-item:nth-child(4) .container {
    padding: 25px 22px 4px 25px !important;
  }
  .about-item:nth-child(4) .about-item__number {
    left: 28px;
    top: -77px;
    font-size: 280px;
  }
  .about-item:nth-child(5) {
    margin-bottom: 8px;
  }
  .about-item:nth-child(5) .about-item__number {
    left: 29px;
    top: -68px;
    font-size: 190px;
  }
  .about-item:nth-child(6) {
    margin-bottom: 7px;
  }
  .about-item:nth-child(6) .about-item__number {
    left: 34px;
    top: -60px;
    font-size: 190px;
  }
  .about-item:nth-child(7) {
    padding: 30px 0 50px;
  }
  .about-item:nth-child(7) .about-item__number {
    left: auto;
    right: 9px;
    top: -60px;
    font-size: 190px;
  }
  .container {
    width: 100%;
    max-width: 540px;
  }
  .header .container {
    width: 100%;
    max-width: 540px;
  }
  .header__mob {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
            flex: 0 0 36%;
    padding-left: 20px;
    max-width: 36%;
  }
  .header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17%;
            flex: 0 0 17%;
    max-width: 17%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header__likes {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17%;
            flex: 0 0 17%;
    max-width: 17%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 2px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .header__search {
    padding: 75px 20px 20px;
  }
  .header__search-close {
    left: 20px;
    margin-left: 0;
  }
  .header.on-cat {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  }
  .search-form {
    width: 100%;
  }
  .city-select {
    margin-left: 11px;
    margin-top: -6px;
  }
  .city-select__icon {
    color: #c8c8c8;
  }
  .city-select__text {
    display: none;
  }
  .city-select__arrow {
    display: none;
  }
  .city-select__list {
    max-height: unset;
  }
  .mobmenu__top > ul {
    padding: 0 24px 0 16px;
  }
  .mobmenu__top > ul > li > a {
    padding: 14px 0;
    font-size: 12px;
    height: 45px;
  }
  .mobmenu__close {
    right: 10px;
    top: 14px;
    font-size: 12px;
  }
  .mobmenu__close.level-2 {
    font-size: 16px;
    top: 11px;
    right: 28px;
  }
  .mobmenu__sub > li {
    padding: 14px 46px;
  }
  .mobmenu__other > ul > li {
    padding: 14px 46px;
  }
  .mobmenu__arrow {
    right: -24px;
    top: 6px;
  }
  .mobmenu__back {
    padding: 11px 48px;
  }
  .mobmenu__back .icon {
    top: 19px;
  }
  .mobmenu__dropdown > ul > li {
    padding: 14px 46px;
  }
  .menu__list > li > a {
    padding: 7px 16px 11px;
  }
  .menu.on-cat {
    display: none;
  }
  .top-banner {
    height: 200px;
    margin-bottom: 0;
  }
  .top-banner__content {
    padding: 56px 0 0 23px;
  }
  .top-banner__content h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .top-banner__content p {
    padding-left: 2px;
    margin-top: 12px;
  }
  .products .section-title {
    display: none;
  }
  .products__slider {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
  .products__slider .product {
    margin: 0 auto;
  }
  .products__popular {
    display: none;
  }
  .products.on-inner {
    margin-top: 30px;
    padding-bottom: 40px;
  }
  .products.on-inner .section-title {
    display: block;
  }
  .products.on-item {
    margin-top: 40px !important;
  }
  .products.on-item .section-title {
    margin-bottom: 7px !important;
  }
  .products.on-cats {
    margin-top: 6px;
  }
  .products.on-cats .section-title {
    padding-left: 30px;
  }
  .product {
    padding: 10px 4px 13px;
    border: none !important;
    max-width: 220px;
  }
  .product__labels {
    left: 14px;
    top: 20px;
  }
  .product__like {
    right: 10px;
    top: 20px;
  }
  .product__price {
    font-size: 14px;
  }
  .product-items {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  .product-item .breadcrumbs {
    margin-left: 6px;
    margin-top: 0px;
  }
  .product-item .cashback {
    width: 100%;
    max-width: none;
  }
  .product-item .cashback__description {
    padding: 5px 20px 55px 30px;
  }
  .product-item .cashback__info {
    max-width: 100%;
  }
  .product-item .cashback__btn {
    max-width: 100%;
  }
  .product-item .cashback__arrow {
    top: 20px;
  }
  .product-item .cashback_is-open .cashback__info {
    height: auto;
  }
  .product-item__content {
    padding: 12px 17px 72px 18px !important;
  }
  .product-item__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .product-item__thumbs {
    margin: 7px -12px 15px 0;
  }
  .product-item__right {
    padding-left: 0;
  }
  .product-item__cat {
    margin-top: 5px;
  }
  .product-item__price {
    margin-top: 25px;
  }
  .product-item__links a {
    margin-bottom: 5px;
  }
  .product-item__buy {
    margin-top: 22px;
  }
  .product-item__buy .btn {
    padding: 14px 50px;
    width: 100%;
  }
  .product-item__attrs {
    margin-top: 29px;
    margin-bottom: 26px;
  }
  .product-item__desc {
    padding-right: 0;
    margin-bottom: 12px !important;
  }
  .product-item__tags {
    margin-top: 32px;
  }
  .product-item__socials {
    top: auto;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    text-align: center;
  }
  .product-item__socials a {
    display: inline-block;
    margin: 0 4px 0;
  }
  .accordeon__body {
    margin: 22px 0 26px;
  }
  .owl-dots {
    margin-top: 12px;
    padding-right: 50px;
  }
  .owl-dot {
    width: 5px;
    height: 6px;
    margin: 0 2px;
  }
  .banner {
    margin-bottom: 0;
    height: 200px;
    margin-top: 16px;
  }
  .banner__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
    padding: 79px 0 0 17px;
  }
  .banner__title h2 {
    font-size: 32px;
    letter-spacing: -0.5px;
  }
  .banner.cosm {
    margin-top: 16px;
    margin-bottom: 0;
  }
  .blog {
    margin-top: 16px;
    padding-bottom: 55px;
  }
  .blog .section-title {
    margin-left: 41px;
  }
  .blog__slider {
    padding-right: 0px;
    padding-left: 0;
  }
  .blog__slider .blog__button {
    padding: 0 22px;
  }
  .blog__button {
    margin-top: -7px;
  }
  .blog__button a {
    width: 100%;
    max-width: 340px;
  }
  .blog-items {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .blog-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto 30px;
    max-width: 340px;
  }
  .blog-item.col {
    margin: 0 0 25px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 340px;
  }
  .blog-bar .container {
    padding: 0px 24px 11px 25px !important;
  }
  .blog-bar__show-cats {
    width: 48%;
  }
  .blog-bar__show-tags {
    width: 48%;
  }
  .blog.blog-page .breadcrumbs {
    margin-top: 11px;
    margin-left: 17px;
    margin-bottom: 12px;
  }
  .blog.on-inner .container {
    padding-right: 22px;
    padding-left: 22px;
  }
  .blog.on-inner.on-error {
    margin-top: -29px;
    padding-bottom: 80px;
  }
  #blog-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 22px;
  }
  .article .breadcrumbs {
    margin-left: 21px;
    margin-top: 11px;
    margin-bottom: 12px;
  }
  .article .blog-bar .container {
    padding: 0px 24px 0px 25px !important;
  }
  .article__content {
    padding: 8px 25px 25px 25px !important;
  }
  .article__content h1 {
    margin-bottom: 13px;
  }
  .article__content h3 {
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 19px;
  }
  .article__content p {
    font-size: 14px;
    margin-bottom: 19px;
  }
  .article__date {
    margin-bottom: 17px !important;
    font-size: 12px !important;
  }
  .article__image {
    margin: 19px auto 45px;
  }
  .article__image-desc {
    font-size: 12px;
    line-height: 16px;
  }
  .article__image-desc.in-center {
    display: none;
  }
  .article__image.main {
    margin: 0 auto 29px;
  }
  .article__image.two {
    margin: 19px auto 17px;
    max-width: 320px;
  }
  .article__image.two .owl-dots {
    margin-top: 17px;
    padding-right: 0px;
  }
  .article__image.two .article__image-desc {
    margin-top: 17px;
  }
  .article__desc {
    margin-bottom: 20px !important;
  }
  .article__insta {
    margin: 14px auto 36px;
    max-width: 100%;
  }
  .article__insta-desc {
    font-size: 12px;
    line-height: 16px;
    margin-top: 16px;
  }
  .article__video {
    margin: 12px auto 37px;
  }
  .article__tags {
    margin-bottom: 43px;
  }
  .article__bar {
    margin-bottom: 26px;
  }
  .article__socials a {
    max-width: 35px;
    display: inline-block;
  }
  .article__numcomment {
    margin-right: 2px;
  }
  .article__numcomment span {
    top: -4px;
    margin-left: -3px;
    display: block;
    width: 100%;
    text-align: center;
  }
  .article__likes {
    margin-right: -2px;
  }
  .article__likes span {
    top: 1px;
    margin-left: 0px;
    display: block;
    width: 100%;
    text-align: center;
  }
  .comments {
    margin-bottom: -9px;
  }
  .comments-form__photo {
    margin-bottom: 11px;
  }
  .comments-form__text {
    width: 100%;
  }
  .comment {
    display: block;
    margin-bottom: 20px;
  }
  .comment__photo {
    margin-bottom: 10px;
  }
  .comment.answer {
    padding-left: 0;
  }
  .brands {
    display: none;
  }
  .shops {
    display: none;
  }
  .footer {
    height: 565px;
  }
  .footer__heart {
    font-size: 570px;
    height: 546px;
    right: 50%;
    margin-right: -295px;
    top: -61px;
  }
  .footer .social-icons {
    margin-top: 0;
    margin-bottom: 47px;
  }
  .footer .container:nth-child(2) {
    padding: 0 15px;
  }
  .footer__menu {
    text-align: center;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    margin-bottom: 26px;
  }
  .footer__menu h3 {
    font-size: 15px;
    font-weight: 700;
  }
  .footer__menu ul {
    font-size: 14px;
    margin-top: 4px;
  }
  .footer__menu ul li {
    margin-bottom: 0;
    line-height: 26px;
  }
  .footer__menu .social-icons {
    margin-bottom: 47px;
  }
  .footer__menu:nth-child(1) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__menu:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__menu:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__menu:nth-child(5) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .footer__copy {
    margin-top: 13px;
    max-width: 210px;
    text-align: center;
    line-height: 16px;
  }
  .page {
    padding-top: 11px;
  }
  .page .container {
    padding: 0 19px;
  }
  .breadcrumbs {
    font-size: 12px;
    margin-left: 6px;
  }
  .shops-content {
    margin-top: 12px;
    padding-bottom: 23px !important;
  }
  .shops-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    padding: 0 5px;
  }
  .page__title {
    margin-top: 19px;
    line-height: 22px;
    padding: 0 22px !important;
  }
  .page__title h1 {
    font-size: 18px;
  }
  .brands-page__letters {
    display: none;
  }
  .brands-page__search {
    padding: 0 23px !important;
    margin-top: 10px;
    display: block;
  }
  .brands-content {
    padding: 6px 37px !important;
  }
  .brands-item__list ul {
    -webkit-column-count: 1;
    column-count: 1;
  }
  .brands-item__list ul li {
    width: 100%;
  }
  .offers-page .breadcrumbs {
    margin-left: 7px;
    margin-top: 0px;
  }
  .offers-content {
    padding: 16px 23px 0 23px !important;
  }
  .offers-content .section-title {
    margin-bottom: 28px;
    width: 100%;
  }
  .offer {
    margin: 0 auto 37px;
    display: block;
    max-width: 360px;
  }
  .offer__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .offer__image img {
    max-width: 100%;
    width: 100%;
  }
  .offer__shop {
    margin: 15px 19px 0;
    font-size: 13px;
  }
  .offer__info {
    overflow: hidden;
  }
  .offer__title {
    margin: 8px 16px 0;
    font-size: 36px;
  }
  .offer__desc {
    padding: 12px 17px 0;
    margin-bottom: 0;
  }
  .offer__bottom {
    padding: 16px 21px 28px 17px;
  }
  .offer__link {
    font-size: 12px;
    margin-top: 0px;
  }
  .offer__link .icon {
    margin-left: 1px;
  }
  .marks-page .breadcrumbs {
    margin-left: 6px;
    margin-top: 1px;
  }
  .marks-page .page__title {
    padding: 0 15px 0 25px !important;
    margin-top: 18px;
  }
  .marks-page .page__title h1 {
    font-size: 20px;
  }
  .products-content {
    padding: 5px 0px 0 0px !important;
  }
  .products-content .product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 50%;
    max-width: 220px;
    padding-bottom: 13px;
  }
  text[text-anchor="middle"] {
    -webkit-writing-mode: tb;
        -ms-writing-mode: tb;
            writing-mode: tb;
  }
  .product-item__chart {
    margin-bottom: 40px;
  }
  .product-item__chart svg {
    height: 310px;
  }
  .topline-banner {
    font-size: 12px;
    padding-right: 40px;
  }
}

@media (max-width: 500px) {
  .banner {
    background-position: 35% center;
  }
}

@media (max-width: 374px) {
  .menu__list > li > a {
    padding: 7px 14px 11px;
  }
  .blog-item__title h3 {
    font-size: 28px;
  }
  .product__price {
    font-size: 13px;
  }
  .brands-content {
    padding: 6px 15px !important;
  }
  .brands-item__button .btn {
    min-width: 100%;
  }
  .contacts__right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contacts__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .sitemap__category > ul {
    max-width: 320px;
  }
}

@media (max-width: 359px) {
  .menu__list > li > a {
    padding: 7px 7px 11px;
  }
  .banner__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .btn-lg {
    padding: 15px 60px;
  }
  .social-icons__item {
    margin: 0 2px;
  }
  .blog-item__title h3 {
    font-size: 24px;
  }
  .product__price {
    font-size: 12px;
  }
  .sitemap__category > ul {
    max-width: 280px;
  }
}
/*# sourceMappingURL=responsive.css.map */