<li>
                      <input type="checkbox" name="filter-color" id="filter-color_1" value="айвори">
                      <label for="filter-color_1">айвори</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_2" value="бежевый">
                      <label for="filter-color_2">бежевый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_3" value="белый">
                      <label for="filter-color_3">белый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_4" value="бирюзовый">
                      <label for="filter-color_4">бирюзовый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_6" value="бордовый">
                      <label for="filter-color_6">бордовый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_7" value="бронзовый">
                      <label for="filter-color_7">бронзовый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_8" value="васильковый">
                      <label for="filter-color_8">васильковый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_9" value="вишневый">
                      <label for="filter-color_9">вишневый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_10" value="айвори">
                      <label for="filter-color_10">айвори</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_11" value="бежевый">
                      <label for="filter-color_11">бежевый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_12" value="белый">
                      <label for="filter-color_12">белый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_13" value="бирюзовый">
                      <label for="filter-color_13">бирюзовый</label>
                    </li>

                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_15" value="бордовый">
                      <label for="filter-color_15">бордовый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_16" value="бронзовый">
                      <label for="filter-color_16">бронзовый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_17" value="васильковый">
                      <label for="filter-color_17">васильковый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_18" value="вишневый">
                      <label for="filter-color_18">вишневый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_19" value="айвори">
                      <label for="filter-color_19">айвори</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_20" value="бежевый">
                      <label for="filter-color_20">бежевый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_21" value="белый">
                      <label for="filter-color_21">белый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_22" value="бирюзовый">
                      <label for="filter-color_22">бирюзовый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_24" value="бордовый">
                      <label for="filter-color_24">бордовый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_25" value="бронзовый">
                      <label for="filter-color_25">бронзовый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_26" value="васильковый">
                      <label for="filter-color_26">васильковый</label>
                    </li>
                    <li>
                      <input type="checkbox" name="filter-color" id="filter-color_27" value="вишневый">
                      <label for="filter-color_27">вишневый</label>
                    </li>