<div class="cat__products">

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="1">
              <div class="product__labels">
                <div class="product__sale">
                  -50%
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__children" data-item-id="2">
              <div class="product__labels">
                <div class="product__sale">
                  -50%
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="3">
              <div class="product__labels">
                <div class="product__new">
                  NEW
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="4">
              <div class="product__labels">
                <div class="product__sale">
                  -50%
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="5">
              <div class="product__labels">
                <div class="product__sale">
                  -50%
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="6">
              <div class="product__labels">
                <div class="product__sale">
                  -50%
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="7">
              <div class="product__labels">
                <div class="product__new">
                  NEW
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="8">
              <div class="product__labels">
                <div class="product__sale">
                  -50%
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="9">
              <div class="product__labels">
                <div class="product__sale">
                  -50%
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="10">
              <div class="product__labels">
                <div class="product__sale">
                  -50%
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="11">
              <div class="product__labels">
                <div class="product__new">
                  NEW
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                  <img class="mob" src="images/cat_product_2_mob.png" alt="" />
                  <img class="mob" src="images/cat_product_3_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="12">
              <div class="product__labels">
                <div class="product__sale">
                  -50%
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="13">
              <div class="product__labels">
                <div class="product__sale">
                  -50%
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="14">
              <div class="product__labels">
                <div class="product__sale">
                  -50%
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="15">
              <div class="product__labels">
                <div class="product__new">
                  NEW
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="16">
              <div class="product__labels">
                <div class="product__sale">
                  -50%
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="17">
              <div class="product__labels">
                <div class="product__sale">
                  -50%
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="18">
              <div class="product__labels">
                <div class="product__sale">
                  -50%
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="19">
              <div class="product__labels">
                <div class="product__new">
                  NEW
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

            <!-- ТОВАР -->
            <div class="col product product__women" data-item-id="20">
              <div class="product__labels">
                <div class="product__sale">
                  -50%
                </div>
              </div>
              <i class="icon product__like" title="В избранное">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#heart" />
                </svg>
              </i>
              <div class="product__image">
                <a href="#">
                  <img class="active pc" src="images/cat_product_1.png" alt="" />
                  <img class="pc" src="images/cat_product_2.png" alt="" />
                  <img class="pc" src="images/cat_product_3.png" alt="" />
                  <img class="active mob" src="images/cat_product_1_mob.png" alt="" />
                </a>
                <div class="product__economy">
                  Экономия 11 000 р.
                </div>
              </div>
              <div class="product__price">
                <span class="old-price">67 550 p.</span>
                33 800 p.
              </div>
              <div class="product__brand">
                <a href="#">United Colors of Benetton</a>
              </div>
              <div class="product__desc">
                <p><a href="#">Укороченные брюки из смеси</a></p>
              </div>
              <div class="product__info">
                <div class="product__sizes">
                  <span>размер:</span> 40 42 44 46 48 50 52 54 56 58 60
                </div>
                <div class="product__shop">
                  <span>магазин:</span> lamoda.by lamoda.by lamoda.by lamoda.by lamoda.by
                </div>
              </div>
            </div>

          </div>
        
        <div class="cat__count">Вы посмотрели 60 моделей джинсов из 1 456</div>
        
        <ul class="pagination">
          <li class="arrow prev">
            <a href="#">
              <i class="icon">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#arrow" />
                </svg>
              </i>
            </a>
          </li>
          <li>
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            4
          </li>
          <li>
            <a href="#">5</a>
          </li>
          <li class="missed">
            <a href="#">...</a>
          </li>
          <li>
            <a href="#">46</a>
          </li>
          <li class="arrow next">
            <a href="#">
              <i class="icon">
                <svg width="1em" height="1em" fill="currentColor">
                  <use xlink:href="/images/icons.svg#arrow" />
                </svg>
              </i>
            </a>
          </li>
        </ul>
        
        <div class="cat__tags hidden-md">
          <ul>
            <li><a href="#">Джинсы с высокой посадкой</a></li>
            <li><a href="#">Женские джинсы с звышенной талией</a></li>
            <li><a href="#">Пышные платья</a></li>
            <li><a href="#">кружевные платья</a></li>
            <li><a href="#">платья с принтом</a></li>
            <li><a href="#">Пышные платья</a></li>
            <li><a href="#">кружевные платья</a></li>
            <li><a href="#">платья с принтом</a></li>
            <li><a href="#">трикотажные платья</a></li>
            <li><a href="#">трикотажные платья</a></li>
            <li><a href="#">Пышные платья</a></li>
            <li><a href="#">Джинсы с всокой посадкой</a></li>
            <li><a href="#">Женские джинсы с звышенной талией</a></li>
            <li><a href="#">Пышные платья</a></li>
            <li><a href="#">кружевные платья</a></li>
          </ul>
          <div class="cat__tags-show show">
            <span>показать все</span>
            <i class="icon">
              <svg width="1em" height="1em" fill="currentColor">
                <use xlink:href="/images/icons.svg#dropdown-arrow" />
              </svg>
            </i>
          </div>
        </div>